.pass-wrap {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pass {
  font-family: 'Karla', sans-serif;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 100px;
}
.pass label {
  margin-bottom: 28px;
  font-family: 'Karla', sans-serif;
  font-size: 24px;
  line-height: 1.0;
  -webkit-font-smoothing: initial;
  color: #ffffff;
  position: relative;
  width: 100%;
  text-align: center;
}
.pass label::before {
  position: absolute;
  top: -104px;
  content: "";
  width: 63px;
  height: 64px;
  left: 50%;
  margin-left: -32px;
  background-image: url("./img/logo-big.svg");
}
.pass input {
  width: 100%;
  padding: 10px 20px 10px 20px;
  background-color: #253137;
  height: 50px;
  border: none;
  color: #fff;
  font-size: 16px;
  width: 300px;
}
.pass input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.pass input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.pass input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 600px) {
  .pass input {
    width: 250px;
  }
}
.pass button {
  width: 200px;
  height: 50px;
  padding: 12px 20px 12px 20px;
  background-color: #36cd98;
  border: none;
  position: relative;
  font-family: 'Karla', sans-serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #253137;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}
@media (max-width: 600px) {
  .pass button {
    width: 250px;
  }
}
.pass button:hover,
.pass button:active {
  background-color: #93ffd5;
}
.pass button.warning::after {
  content: 'Incorrect password';
  position: absolute;
  bottom: -24px;
  font-size: 12px;
  left: 0;
  width: 100%;
  color: #36cd98;
}