body
	font-family: 'Karla', Arial, sans-serif
	+f(16, 24)
	color: $white 
	+font-smoothing
	background: $black

.inner,
.inner-small
	position: relative
	padding: 0 15px
	margin: 0 auto
	max-width: 1200px
	+clr