.header
	position: absolute
	top: 0
	left: 0
	right: 0
	z-index: 100
	&__inner
		+clr

.logo
	float: left
	margin-top: 16px
.menu
	float: right
	margin-top: 17px
	li
		vertical-align: top
		display: inline-block
		&:not(:first-child)
			margin-left: 28px
	a
		+f(13, 15, null, 700)
		color: $white 
		transition: color .3s ease-in-out
		+hover
			color: $blue 