.title-lg
	+f(40, 40, null, 700)
	+lg
		+f(30, 40)
	+sm
		+f(20, 30)

.sm-description
	+f(20, 30)
	// +f(16, 24)
	// text-align: center
	// +lg
	// 	+f(18, 28)
	// +sm
	// 	+f(16, 24)

a
	text-decoration: none

//aligns
.text-center
	text-align: center
.text-right
	text-align: right
.text-left
	text-align: left

.text-uppercase
	text-transform: uppercase