---
title: Oxygen
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="top-section">
		{% include "partials/_topic.html" %}
		{% include "partials/_features.html" %}
	</div>
	{# {% include "partials/_article.html" %} #}
	{% include "partials/_introducing.html" %}
	{% include "partials/_experience.html" %}
	{% include "partials/_profiles.html" %}
	{% include "partials/_team.html" %}
	{% include "partials/_roadmap.html" %}
	<div class="bottom-section">
		{% include "partials/_info-block.html" %}
		{% include "partials/_footer.html" %}
	</div>

{% endblock %}

{% block modal %}

{{modal.call({
		file: '_first',
		classList: 'js-modal-first',
		name: 'modal-step-1'
	})}}
	{{modal.call({
		file: '_second',
		classList: 'js-modal-second',
		name: 'modal-step-2'
	})}}
	{{modal.call({
		file: '_third',
		classList: 'js-modal-third',
		name: 'modal-step-3'
	})}}

{% endblock %}
