<!-- article -->
<div class="article">
	<div class="article__inner inner">
		<article>
			Today, holders of numerous coins and tokens have nothing to do with their equity.They simply wait patiently for it to flourish or they sell the assets, regardless of their potential for future growth. There are not currently any REPO instruments in existence that offer safe short positions and margin trading, without doubling the commission on crypto-to-fiat currency exchanges. We believe that expensive and unsafe crypto-loaning is in need of Oxygen.
		</article>
	</div>
</div>
<!-- ¯\_(ツ)_/¯ -->