{% set data = [
	{
		img: 'experience-img-1',
		title: 'Dashboard',
		text: "Oxygen’s user homepage gives quick access to personal loaning. Users can easily check the status of active lending and borrowing contracts, and understand at a glance the amount of all crypto-assets available considering current margin trading operations.",
		link: 'SEE THE PREVIEW'
	},
	{
		img: 'experience-img-2',
		class: 'mod',
		title: 'Orderbook',
		text: "In the orderbook, users can choose loans from current borrowing or lending proposals and make a quick order. The smart system highlights the currencies that are present in the user's Oxygen wallet. The details of every proposal will be revealed at the click of a mouse (e.g. amount of every currency in composed collateral).",
		link: 'SEE THE PREVIEW'
	},
	{
		img: 'experience-img-3',
		title: 'Smart-contract constructor',
		text: "If the quick loan is not enough, a user can build a more detailed smart-contract. The system will propose a relevant fee and the prospective amount of collateral for successful margin trading.",
		link: 'SEE THE PREVIEW'
	}
] %}

<!-- experience -->
<div class="experience">
	<div class="experience__inner inner">
		<h3 class="experience__title title-lg">Oxygen experience</h3>
		<div class="experience__sm-description sm-description">The Oxygen platform and user experience are designed for intuitive loan management. Members can collateralize their blockchain assets, manage repayments and monitor activity in one easy-to-use platform.</div>
	</div>
	<div class="experience__wrap">
		{% for row in data %}
			{% if row.class %}
				<div class="experience__row experience__row_{{row.class}}">
					<div class="experience__left">
						<div class="experience__text">
							<div class="experience__text-wrap">
								<h4 class="experience__title-md">{{row.title}}</h4>
								<p>{{row.text}}</p>
								<div class="experience__footer">
									<a href="#" class="experience__link">{{row.link}}</a>
								</div>
							</div>
						</div>
					</div>
					<div class="experience__right">
						<div class="experience__img">
							<img src="./img/{{row.img}}.jpg" alt="img">
						</div>
					</div>
				</div>
			{% else %}
				<div class="experience__row">
					<div class="experience__left">
						<div class="experience__img">
							<img src="./img/{{row.img}}.jpg" alt="img">
						</div>
					</div>
					<div class="experience__right">
						<div class="experience__text">
							<div class="experience__text-wrap">
								<h4 class="experience__title-md">{{row.title}}</h4>
								<p>{{row.text}}</p>
								<div class="experience__footer">
									<a href="#" class="experience__link">{{row.link}}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="experience__info">
		<div class="experience__info-text">*All images are for demonstration purposes only. Interest rates and other terms depicted are not representations of valid customer rates. Membership to the OXYGEN platform is required to access real-time updates.</div>
	</div>
</div>
<!-- ¯\_(ツ)_/¯ -->