{% set data = [
	{
		img: 'app-main',
		imgBig: 'app-main',
		title: 'Dashboard',
		list: [
			'- See the market and your positions in a single place',
			'- Complete details of your ETH address portfolio',
			'- Metrics of your active lending and borrowing operations',
			'- Real-time exchange rates'
		],
		link: 'SEE THE PREVIEW'
	},
	{
		img: 'app-orders',
		imgBig: 'app-orders',
		class: 'mod',
		title: 'Orderbook',
		list: [
			'- Pick the best available offers',
			'- Up-to-date proposals list for borrowing and lending offers',
			'- Market insights at your fingertips'
		],
		link: 'SEE THE PREVIEW'
	},
	{
		img: 'app-orders-ext',
		imgBig: 'app-orders-ext',
		title: 'Smart contract constructor',
		list: [
			'- Making our approach reflect you',
			'- Highly customizable',
			'- Wizards to help you set the right conditions',
			'- Recommendations based on the overall market'
		],
		link: 'SEE THE PREVIEW'
	}
] %}

<!-- experience -->
<div class="experience">
	<div class="experience__inner inner">
		<h3 class="experience__title title-lg">Oxygen experience</h3>
		<div class="experience__sm-description sm-description">The Platform's interface is adapted to any stakeholders’ needs and provides a general overview of current contracts and relevant market data.</div>
	</div>
	<div class="experience__wrap">
		{% for row in data %}
			{% if row.class %}
				<div class="experience__row experience__row_{{row.class}}">
					<div class="experience__left">
						<div class="experience__text">
							<div class="experience__text-wrap">
								<h4 class="experience__title-md">{{row.title}}</h4>
								{% if row.text %}
									<p>{{row.text}}</p>
								{% else %}
									<ul>
										{% for item in row.list %}
											<li>{{item}}</li>
										{% endfor %}
									</ul>
								{% endif %}
								<div class="experience__footer">
									<a href="./img/{{row.imgBig}}.jpg" data-fancybox="gallery-a" class="experience__link">{{row.link}}</a>
								</div>
							</div>
						</div>
					</div>
					<div class="experience__right">
						<h4 class="experience__title-md md-show">{{row.title}}</h4>
						<a href="./img/{{row.imgBig}}.jpg" data-fancybox="gallery" class="experience__img">
							<img src="./img/{{row.img}}.jpg" alt="img">
						</a>
					</div>
				</div>
			{% else %}
				<div class="experience__row">
					<div class="experience__left">
						<h4 class="experience__title-md md-show">{{row.title}}</h4>
						<a href="./img/{{row.imgBig}}.jpg" data-fancybox="gallery" class="experience__img">
							<img src="./img/{{row.img}}.jpg" alt="img">
						</a>
					</div>
					<div class="experience__right">
						<div class="experience__text">
							<div class="experience__text-wrap">
								<h4 class="experience__title-md">{{row.title}}</h4>
								{% if row.text %}
									<p>{{row.text}}</p>
								{% else %}
									<ul>
										{% for item in row.list %}
											<li>{{item}}</li>
										{% endfor %}
									</ul>
								{% endif %}
								<div class="experience__footer">
									<a href="./img/{{row.imgBig}}.jpg" data-fancybox="gallery-a" class="experience__link">{{row.link}}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="experience__info">
		<div class="experience__info-text">All images are for demonstration purposes only. Interest rates and other terms depicted are not representations of valid customer rates. Membership in the OXYGEN platform is required to access real-time updates.</div>
	</div>
</div>
<!-- ¯\_(ツ)_/¯ -->