<!-- begin faq -->
<div class="faq">
	<div class="clouds js-clouds" data-clouds-paralax="true">
		<div class="clouds__word js-clouds-word"></div>
	</div>
	<div class="inner">
		{# <img src="img/logo-full.svg" alt="oxygen" class="faq__logo"> #}
		<h2 class="title-lg faq__title">OXYGEN FAQ</h2>
		<div class="faq__wrap">
			{% set content = [
				{
					subtitle: 'About the platform',
					info: [
						{
							id: 'faq-1',
							label: 'What is Oxygen?',
							text: 'Oxygen is an analog to the REPO market in the cryptocurrency world. Being a fully decentralized platform, it will solve the problem of unsafe and expensive cryptoloans for short positions and margin trading.'
						},
						{
							id: 'faq-2',
							label: 'What services will Oxygen provide?',
							text: 'Oxygen will perform REPO operations in ERC20 tokens and Ethereum platform. We are considering to extend it to BTC and other cryptographic assets, but no formal commitment can be made at this stage of the project, due to technological lag in true cross-chain solutions. Essentially, Oxygen will provide a specialized peer-to-peer environment for lending assets specifically for trading purposes.'
						},
						{
							id: 'faq-3',
							label: 'Why does Oxygen go beyond peer-to-peer lending?',
							text: 'Peer-to-peer trading is an analog to consumer/commercial credit agreements and therefore does not address the specific needs and risks associated with trading. While Oxygen can be used for peer-to-peer lending, it is aimed at a different economic activity, due to a specialized set of rules, and therefore may or may not be suitable for certain transactions.'
						},
						{
							id: 'faq-4',
							label: 'How is Oxygen different from the short at Poloniex or Bitfinex?',
							text: 'Oxygen is neither a short nor a long position (even though some synthetic operations may work with long and short positions). Oxygen is a tool enabling token holders to offer margin trading to third parties, regardless of the margin being a long or a short one.'
						},
						{
							id: 'faq-5',
							label: 'How is Oxygen different from Bancor?',
							text: 'Bancor positions itself as a market-maker and supply/demand management system for token holders. This is not related to margin trading or any activities beyond spot trading.'
						},
						{
							id: 'faq-6',
							label: "How decentralized and secure is Oxygen?",
							text: "Oxygen is a fully decentralized ecosystem deployed in the Ethereum network. There is no central custody in-between transaction participants, due to usage of smart contracts. Therefore, during transactions all assets are stored inside smart contracts, and Oxygen never holds any equity of users. This makes the platform completely safe."
						},
						{
							id: 'faq-7',
							label: "Why does the Oxygen environment consist of ERC20 tokens only?",
							text: "Right now there is no feasible and impartial cross-chain solution which would allow secure operations with both ETH and BTC blockchains. On the other hand, for now, Ethereum is probably the most popular platform to perform ICO, and dozens of tokens are being issued in the ERC20 standard. Moreover, ERC20-capable tokens are essential for transactions based on Ethereum smart contracts. These are the main reasons why we primarily focus on the ERC20 standard. However, we want to go cross-chain as soon as a true and reliable solution appears."
						},
						{
							id: 'faq-8',
							label: "What is an order book?",
							text: "An order book is a list of bids and asks placed by all parties that wish to lend or borrow a given asset. In the case of Oxygen, an order book is a de???centralized exchange built on the ???Disruptor technology, also used by LMAX. It will run a continuous auction with the books representing different tokens and different expiry blocks. Importantly, it will not be fully anonymous — orders will be highlighted with various colors, depending on the participant’s credit rating."
						}
					]
				},
				{
					subtitle: 'About our business model',
					info: [
						{
							id: 'faq-9',
							label: 'How do I use Oxygen for my business?',
							text: 'Oxygen is designed to unlock the hidden potential of your cryptoassets. Basically, you can pledge some of your tokens as a collateral and get a loan you need, or lend them and get your interest rate. But Oxygen is also a powerful tool for experienced traders and it could be used for the way different cases of margin trading. If you envision a co-operation with us in this sphere, we’d love to hear about your project. You can reach us at <a href="mailto:hello@oxygen.trade">hello@oxygen.trade</a>.'
						},
						{
							id: 'faq-10',
							label: 'How does the platform earn profit?',
							text: "Users pay a fee for each transaction. The fee amount depends on transactions' terms and the amount of collateralized and lent tokens."
						}
					]
				},
				{
					subtitle: 'About crowdfunding',
					info: [
						{
							id: 'faq-11',
							label: 'How do tokens work?',
							text: 'Tokens play a significant role in the Oxygen ecosystem. They will not only be used to cover Oxygen’s fees, but will also open the following benefits to token holders:',
							list: [
								'Deals in bETH tokens under more advantageous conditions (an up to 50 % rebate)',
								'Priority in the order book queue (in case the credit rating permits it)',
								'Last look during trades',
								'Liabilities coverage to avoid penalty in case of a credit event',
								'Right to vote on implementation of new features'
							]
						},
						{
							id: 'faq-12',
							label: 'What are the preferences for pre-sale contributors?',
							text: 'Pre-sale contributors will get an up to 20% bonus.'
						},
						{
							id: 'faq-13',
							label: 'What will you use the funds for?',
							text: 'We will use 85 % of raised funds for development and promotion of Oxygen.<br><br>
							10 % of funds will be used as a floating capital for market-making at launch.<br><br>
							5 % of funds will reserved to cover unexpected costs.'
						},
						{
							id: 'faq-14',
							label: 'Which exchanges will list the OXG token?',
							text: 'Several major exchanges will list OXG tokens once sale is over. More details will be announced.'
						},
						{
							id: 'faq-15',
							label: 'When will OXG tokens be tradable?',
							text: 'You will be able to trade OXG tokens starting January 1, 2018.'
						},
						{
							id: 'faq-16',
							label: 'Is there any volatility hedge?',
							text: 'All OXG tokens unused during sale, as well as unlocked capital for market making, will be reserved for volatility hedging by token supply or guaranteed buyback.'
						}
					]
				},
				{
					subtitle: 'About the team',
					info: [
						{
							id: 'faq-17',
							label: 'Who founded Oxygen?',
							text: 'Oxygen is coming from creators of Changelly.<br><br>
							Changelly is the #1 instant cryptocurrency exchange providing the best crypto-to-crypto rates on the market.'
						},
						{
							id: 'faq-18',
							label: 'Who is on the team?',
							text: 'We are blockchain enthusiasts and professionals in financial technologies, cryptotrading, software engineering and product??? development. We truly believe Oxygen will be an outstanding product on the margin trading market.'
						},
						{
							id: 'faq-19',
							label: 'Are you hiring?',
							text: 'If you are interested in joining our team, please contact us at <a href="mailto:join@oxygen.trade">join@oxygen.trade</a>'
						},
						{
							id: 'faq-20',
							label: 'How can I help? volunteer???',
							text: 'If you are interested in helping us volunteering for us???, you can reach us at <a href="mailto:">team@oxygen.trade</a>.<br>
							We will be excited to hear from you.'
						}
					]
				}
			] %}
			<div class="faq__sidebar">
				{% for item in content %}
					<div class="faq__section">
						<h3 class="faq__subtitle">{{item.subtitle}}</h3>
						{% for item in item.info %}
							<div class="faq__box">
								<a href="#{{item.id}}" class="faq__label js-scroll-to">{{item.label | safe}}</a>
								<div class="faq__block">
									<p>{{item.text | safe}}</p>
									{% if item.list %}
										<ul>
											{% for item in item.list %}
												<li>{{item | safe}}</li>
											{% endfor %}
										</ul>
									{% endif %}
								</div>
								{% if item.table %}
									<div class="fake-table">
										<div class="fake-table__header">
											<div class="fake-table__row">
												{% for item in item.table.header %}
													<div class="fake-table__col" data-column="{{table.columns[loop.index]}}">{{item.title | safe}}</div>
												{% endfor %}
											</div>
										</div>
										<div class="fake-table__body">
											{% for row in item.table.body %}
												<div class="fake-table__row">
													{% for col in row %}
														<div class="fake-table__col" data-column="{{table.columns[loop.index]}}">{{col.text}}</div>
													{% endfor %}
												</div>
											{% endfor %}
										</div>
									</div>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
			<div class="faq__content">
				{% for item in content %}
					<div class="faq__section">
						<h3 class="faq__subtitle">{{item.subtitle}}</h3>
						{% for item in item.info %}
						    <div class="faq__box" id={{item.id}}>
						    	<h4 class="faq__label">{{item.label | safe}}</h4>
						    	<p>{{item.text | safe}}</p>
						    	{% if item.list %}
						    		<ul>
						    			{% for item in item.list %}
						    				<li>{{item | safe}}</li>
						    			{% endfor %}
						    		</ul>
						    	{% endif %}
						    	{% if item.table %}
						    		<div class="fake-table">
						    			<div class="fake-table__header">
						    				<div class="fake-table__row">
						    					{% for item in item.table.header %}
						    						<div class="fake-table__col" data-column="{{table.columns[loop.index]}}">{{item.title | safe}}</div>
						    					{% endfor %}
						    				</div>
						    			</div>
						    			<div class="fake-table__body">
						    				{% for row in item.table.body %}
						    					<div class="fake-table__row">
						    						{% for col in row %}
						    							<div class="fake-table__col" data-column="{{table.columns[loop.index]}}">{{col.text}}</div>
						    						{% endfor %}
						    					</div>
						    				{% endfor %}
						    			</div>
						    		</div>
						    	{% endif %}
						    </div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- end faq -->