<!-- begin faq -->
<div class="faq">
	<div class="clouds js-clouds" data-clouds-paralax="true">
		<div class="clouds__word js-clouds-word"></div>
	</div>
	<div class="inner">
		<div class="faq__wrap">
			<h2 class="title-lg faq__title">Frequently asked questions</h2>
			<div class="faq__content">
				{% set content = [
					{
						subtitle: 'About the platform',
						info: [
							{
								label: 'What is Oxygen?',
								text: 'Oxygen delivers a fully decentralized collateral acquisition and settlement system. There is no centralized custody at any stage, which guarantees lenders and borrowers total asset safety.'
							},
							{
								label: 'What service will Oxygen provide?',
								text: 'Get access to anonymous and reliable credit reports about your borrowers - the first practical blend of the anonymity and transparency offered by the Blockchain technology.'
							},
							{
								label: 'How is Oxygen different from Bancor?',
								text: 'Lenders or borrowers can participate in contracts together, sharing the risks and profits. This option is available for secured requests if selected by the owner during initial offer submission process.'
							}
						]
					},
					{
						subtitle: 'About Bisiness-model',
						info: [
							{
								label: 'How do I use Oxygen for my business?',
								text: 'Oxygen is designed to unlock hidden potential of your crypto-assets. Basically, you would be able either to pledge some of your tokens as a collateral to get a loan you need or to lend them and get your interest rate. But Oxygen is also a powerful tool for experienced traders and it could be used for way different cases of margin trading. If you envision a good fit, we’d love to hear about your project and may be open to partnerships. Please reach us at <a href="mailto:hello@oxygen.trade">hello@oxygen.trade</a>.'
							},
							{
								label: 'How does the platform earn profit?',
								text: 'Users are paying fees to the platform for each transaction. The exact fee amount depends on transaction term and amounts of collateralized and lent tokens.'
							}
						]
					},
					{
						subtitle: 'About crowdfunding',
						info: [
							{
								label: 'How does the token work?',
								text: 'Tokens play a significant role in the Oxygen ecosystem. Beside the fact that tokens will be used to cover Oxygen’ commissions, it would also provide token holders with access to the following benefits:',
								list: [
									'Deals in bETH tokens under more advantageous conditions (up to 50% rebate)',
									'Priority in the order book queue (in case the credit rating permits it)',
									'Last look on trades',
									'Liabilities coverage to avoid penalty in case of credit-event',
									'Right to vote on the implementation of new features'
								]
							},
							{
								label: 'What are the preferences for pre-sale contributors?',
								text: 'Pre-sale contributors will get an up to 20% bonus.'
							},
							{
								label: 'What will you use the funds for?',
								text: 'We will use 85% of raised funds for development and promotion of Oxygen.<br><br>
								10% of funds will be used as floating capital for market making during launch.<br><br>
								5% of funds will reserved to cover unexpected costs'
							},
							{
								label: 'Which exchanges will list the OXG token?',
								text: 'Several primary exchanges will list OXG tokens once sale is over. To be announced.'
							},
							{
								label: 'When OXG tokens will be tradable?',
								text: 'You will be able to trade OXG tokens since 01.01.2018.'
							},
							{
								label: 'Is there any volatility hedge?',
								text: 'All OXG tokens unused during sale and unlocked capital for market making will be reserved for volatility hedging by tokens supply or guaranteed buyback.'
							}
						]
					},
					{
						subtitle: 'About the team',
						info: [
							{
								label: 'Who did found Oxygen?',
								text: 'Oxygen is coming from creators of Changelly.<br><br>
								Changelly is the #1 instant cryptocurrency exchange providing the best crypto-to-crypto rates on the market.'
							},
							{
								label: 'Who is on the team?',
								text: 'We are blockchain enthusiasts and professionals in financial technology, crypto trading, software engineering and product development. We are passionate about delivering great product to the market of margin trading, such as Oxygen is.'
							},
							{
								label: 'Are you hiring?',
								text: 'If you are interested in joining our team, please contact us at <a href="mailto:join@oxygen.trade">join@oxygen.trade</a>'
							},
							{
								label: 'How can I help?',
								text: 'If you are interested in helping us, please reach us at <a href="mailto:">team@oxygen.trade</a><br>
								We would be excited to hear from you.'
							}
						]
					}
				] %}
				{% for item in content %}
					<div class="faq__section">
						<h3 class="faq__subtitle">{{item.subtitle}}</h3>
						{% for item in item.info %}
							<div class="faq__box">
								<h4 class="faq__label">{{item.label | safe}}</h4>
								<p>{{item.text | safe}}</p>
								{% if item.list %}
									<ul>
										{% for item in item.list %}
											<li>{{item | safe}}</li>
										{% endfor %}
									</ul>
								{% endif %}
								{% if item.table %}
									<div class="fake-table">
										<div class="fake-table__header">
											<div class="fake-table__row">
												{% for item in item.table.header %}
													<div class="fake-table__col" data-column="{{table.columns[loop.index]}}">{{item.title | safe}}</div>
												{% endfor %}
											</div>
										</div>
										<div class="fake-table__body">
											{% for row in item.table.body %}
												<div class="fake-table__row">
													{% for col in row %}
														<div class="fake-table__col" data-column="{{table.columns[loop.index]}}">{{col.text}}</div>
													{% endfor %}
												</div>
											{% endfor %}
										</div>
									</div>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- end faq -->