{% set keys = [
	{
		ico: 'kf-stars-x2',
		title: 'Blockchain-recorded credit rating',
		text: 'The REPO Ethereum-based smart-contract updates decentralized credit rating, whether the loan is complete or default. The platform will feature a transparent algorithm to avoid fraud and build a trustworthy market.'
	},
	{
		ico: 'kf-ppl-x2',
		title: 'Community-driven orderbook',
		text: 'Lenders and borrowers push requests to a dynamically generated orderbook. Continuous auction results in several matched requests. Users can choose to lock down their assets, as secured requests match faster. '
	},
	{	ico: 'kf-coins-x2',
		title: 'Joint loans',
		text: 'Lenders and borrowers are also able to participate in joint loans by accepting requests in part. Joint loans are available for secured requests if selected by the owner upon request setup. '
	},
	{
		ico: 'kf-robo-x2',
		title: 'AI-based risk management toolkit',
		text: 'Oxygen neural network aggregates plenty of data sources and offers indicative rates, default-risk coefficients, discount factors and other market data to provide advisory on accurate estimate about a potential offer.'
	},
	{
		ico: 'kf-net-x2',
		title: 'Truly decentralized platform',
		text: 'Oxygen delivers a fully decentralized collateral acquisition and settlement system. There is no centralized custody at any stage of user exchange, guaranteeing lenders and borrowers unbreakable fund safety.'
	},
	{
		ico: 'kf-clouds-x2',
		title: 'B2B Integrations available',
		text: "Today's cryptocurrency exchanges face a lack of REPO instruments and cannot offer safe short positions and margin trading to their clients. Oxygen prioritises the development and implementation of SAAS applications for businesses."
	}
] %}
<!-- features -->
<div class="features">
	<div class="features__inner inner">
		<h2 class="features__title title-lg">Key features</h2>
		<div class="features__sm-description sm-description">The following cutting-edge technologies support market creation of tokens and coins, which is beneficial for traders and cryptocurrency stakeholders.</div>
		<div class="features__wrap">
			{% for data in keys %}
				<div class="features__col">
					<div class="features__ico">
						<img src="./img/{{data.ico}}.png" alt="img">
					</div>
					<h4 class="features__title-md title-md">{{data.title}}</h4> 
					<p>{{data.text}}</p>
					{# {% if data.img %}
						<div class="features__formula">
							<img src="./img/{{data.img}}.png" alt="img">
						</div>
					{% endif %} #}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- ¯\_(ツ)_/¯ -->