<!-- header -->
<div class="header js-header">
	<div class="header__in inner">
		<!-- logo -->
		<a href="#" class="logo">
			<img src="./img/logo-small.svg" alt="logo">
		</a>
		<!-- ¯\_(ツ)_/¯ -->
		<!-- menu -->
		<ul class="menu">
			<li><a href="/faq.html">FAQ</a></li>
			<li><a target="_blank" href="/ox-cp.pdf">White Paper</a></li>
			<li><a target="_blank" href="/one-pager-oxygen.pdf">One pager</a></li>
			<li><a href="#" class="js-modal-open" data-modal-target="modal-step-1">Apply for Whitelist</a></li>
		</ul>
		<!-- ¯\_(ツ)_/¯ -->
		<!-- btn-menu -->
		<button class="btn-menu js-btn-menu" type="button">
			<span class="btn-menu__text">menu</span>
			<span class="btn-menu__wrap">
				<span class="btn-menu__line"></span>
			</span>
		</button>
		<!-- ¯\_(ツ)_/¯ -->
	</div>
</div>
<!-- ¯\_(ツ)_/¯ -->