<!-- header -->
<div class="header js-header">
	<div class="header__in inner">
		<!-- logo -->
		<a href="#" class="logo">
			<img src="./img/logo-small.svg" alt="logo">
		</a>
		<!-- ¯\_(ツ)_/¯ -->
		<!-- menu -->
		<ul class="menu">
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Whitepaper</a></li>
			<li><a href="#">One pager</a></li>
		</ul>
		<!-- ¯\_(ツ)_/¯ -->
		<!-- btn-menu -->
		<button class="btn-menu js-btn-menu" type="button">
			<span class="btn-menu__text">menu</span>
			<span class="btn-menu__wrap">
				<span class="btn-menu__line"></span>
			</span>
		</button>
		<!-- ¯\_(ツ)_/¯ -->
	</div>
</div>
<!-- ¯\_(ツ)_/¯ -->