<!-- help -->
<div class="help js-help">
	<div class="help__top">
		<div class="help__logo">
			<img src="./img/logo-help-big.svg" alt="logo">
		</div>
	</div>
	<div class="help__middle">
		<div class="help__inner" id="container">
			<div class="help__message" id="message">
				
			</div>
			{# <p>Would you like to earn profit from<br>being a passive long-term holder? </p>
			<p>Are you in need of borrowing any crypto asset to short? </p> #}
			<a href="#" class="help__link js-help-link">We are here to help.</a>
		</div>
	</div>
	<div class="help__bottom">
		<button class="btn-scroll js-btn-scroll">
			<svg width="28px" height="15px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 21.5"><title>down</title><polyline points="38.5 1.5 20 20 1.5 1.5" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px"/></svg>
		</button>
	</div>
</div>
<!-- ¯\_(ツ)_/¯ -->
