<!-- begin info-block -->
<div class="info-block">
	<div class="inner info-block__inner">
		<div class="info-block__header">
			<img src="img/logo-full.svg" alt="logo" class="info-block__logo">
			<div class="info-block__header-in">
				<h2 class="title-lg info-block__title">Token crowdsale</h2>
				<div class="sm-description">
					<p>The OXG tokens will be used to cover Oxygen' commission fee with respect to trades and contracts.</p>
					<p>The fee schedule will be similar to the one used by most exchanges with makers receiving rebates and takes paying full fees at all times.</p>
				</div>
			</div>
		</div>
		<div class="info-block__body">
			{% set rows = [
				{
					items: [
						{
							mod: 'info-list__item_23 info-list__item_tablet-33',
							title: 'Campaign starts',
							desc: [ 
								'- 29.11.2017',
								'- Exchange rate - $0,10 = 1 OXG',
								'- Hard cap - TBA'
							]
						},
						{
							mod: 'info-list__item_23 info-list__item_tablet-33',
							title: 'Campaign ends',
							desc: [ '3 weeks from the start or as soon&nbsp;as hard cap is reached' ]
						}
					]
				},
				{
					items: [
						{
							mod: 'info-list__item_23 info-list__item_tablet-33',
							title: 'Emission',
							desc: [ 'Tokens will be issued only during&nbsp;the crowdsale' ]
						},
						{
							mod: 'info-list__item_19 info-list__item_tablet-33',
							title: 'Total supply',
							desc: [ '500 000 000 units (non&nbsp;reissuable)' ]
						},
						{
							mod: 'info-list__item_20 info-list__item_tablet-33',
							title: 'Exchange rate',
							desc: [ '$0,06 = 1 OXG' ]
						},
						{
							mod: 'info-list__item_16 info-list__item_tablet-33',
							title: 'Hard cap',
							desc: [ '$30 000 000' ]
						},
						{
							mod: 'info-list__item_22 info-list__item_tablet-33',
							title: 'Crowdfunding currencies',
							desc: [ 'BTC / ETH' ]
						}
					]
				},
				{
					items: [
						{
							mod: 'info-list__item_62 info-list__item_tablet-62',
							title: 'Token holders options',
							desc: [
								'Deals in OXG tokens under more advantageous conditions (up to 50% rebate)',
								'Advance in the order book queue (if credit rating permits)',
								'Last-look on trades',
								'Liabilities coverage to avoid penalty in case of credit-event',
								'Voting right on the implementation of new features'
							]
						},
						{
							mod: 'info-list__item_38 info-list__item_tablet-38',
							title: 'Crowdfunding goal',
							desc: [ 'Service development, floating capital <br>required for market making, <br>international marketing' ]
						}
					]
				}
			] %}
			<div class="info-block__content">
				{% for row in rows %}
					<div class="info-block__row">
						<ul class="info-list info-block__list">
							{% for item in row.items %}
								<li class="info-list__item {{item.mod}}">
									<div class="info-list__title">{{item.title}}</div>
									<div class="info-list__description">
										{% for item in item.desc %}
											<p>{{item | safe}}</p>
										{% endfor %}
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
			</div>
			<div class="info-block__graphs">
				{% set graphs = [
					{
						classList: 'sm-graph_green',
						title: 'Tokens allocation',
						boxes: [
							{
								value: '60%',
								desc: 'Token sale contributors'
							},
							{
								value: '15%',
								desc: 'Bonuses for partners, advisors, early contributors'
							},
							{
								value: '15%',
								desc: 'Foundation long&nbsp;term <br>budget'
							},
							{
								value: '9%',
								desc: 'Team members'
							},
							{
								value: '1%',
								desc: 'Bounty'
							}
						]
					},
					{
						classList: 'sm-graph_blue',
						title: 'Funds distribution plan',
						boxes: [
							{
								value: '45%',
								desc: 'Product Development'
							},
							{
								value: '30%',
								desc: 'Business Development and marketing'
							},
							{
								value: '10%',
								desc: 'Floating capital required&nbsp;for market making'
							},
							{
								value: '10%',
								desc: 'Legal activities'
							},
							{
								value: '5%',
								desc: 'Reserved funds'
							}
						]
					}
				] %}
				{% for item in graphs %}
					<div class="sm-graph {{item.classList}} info-block__graph">
						<h4 class="sm-graph__title">{{item.title}}</h4>
						<div class="sm-graph__body">
							<div class="sm-graph__container">
								<div class="sm-graph__row">
									{% for item in item.boxes %}
										<div class="sm-graph__box {% if item.mod %}sm-graph__box{{item.mod}}{% endif %}" style="width: {{item.value}}">
											<div class="sm-graph__line">
												<div class="sm-graph__line-in" style="width: {{item.value}}"></div>
											</div>
											<div class="sm-graph__info">
												<div class="sm-graph__value">{{item.value | safe}}</div>
												<div class="sm-graph__description">{{item.desc | safe}}</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- end info-block -->