<!-- introducing -->
<div class="introducing">
	<div class="introducing__inner inner">
		<h2 class="introducing__title title-lg">Transparent workflow and infrastructure</h2>
		<div class="introducing__description">Oxygen is a powerful and easy-to-use decentralised platform based on Ethereum smart contracts and client-side applications. All private keys are held by client-side applications and Ethereum network provides collateral security and settlement.
</div>
	</div>
	<div class="introducing__diagram">
		<div class="diagram">
			<div class="diagram__bg">
				<div class="diagram__bg-header"></div>
				<div class="diagram__bg-body">
					<div class="diagram__bg-fork">
						<div></div>
						<div></div>
					</div>
				</div>
			</div>
			<div class="diagram__lines">
				<div class="diagram__lines-hint"></div>
				<div class="diagram__lines-fork" data-diagram="fork-1"></div>
				<div class="diagram__lines-fork" data-diagram="fork-2"></div>
				<div class="diagram__lines-fork" data-diagram="fork-3"></div>
			</div>
			<div class="diagram__in">
				<div class="diagram__header">
					<div class="diagram__header-col" data-diagram="header-col-1" data-diagram-modal="parent" data-diagram-hover="no" data-tooltip-content="#tooltip_placement-request">
						<div class="diagram__header-label">Lender</div>
						<div class="diagram__header-value">Placement request</div>
					</div>
					<div class="diagram__header-col" data-diagram="header-col-2" data-diagram-modal="parent" data-diagram-hover="no" data-tooltip-content="#tooltip_loan-request">
						<div class="diagram__header-label">Borrower</div>
						<div class="diagram__header-value">Loan request</div>
					</div>
				</div>
				<div class="diagram__body">
					<div class="diagram__box diagram__box_lg" data-diagram="box-1" data-diagram-modal="parent" data-tooltip-content="#tooltip_matching">
						<div class="diagram__box-target">
							<div class="diagram__box-in">Matching engine</div>
						</div>
					</div>
					<div class="diagram__fork" data-diagram="fork-1">
						<div class="diagram__fork-hint">
							{# <i></i> #}
							<svg width="10px" height="16px" viewBox="0 0 10 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							        <polyline stroke="#808285" stroke-width="2" points="1 15.1746 7.965 8.2096 1 1.2456"></polyline>
							    </g>
							</svg>
							Oxygen
						</div>
						<div class="diagram__fork-title" data-diagram-modal="parent" data-diagram-hover="no" data-tooltip-content="#tooltip_system-free"><span>System fee</span></div>
						<div class="diagram__fork-label" data-diagram="percent-1">%</div>
						<div class="diagram__fork-label" data-diagram="percent-2">%</div>
						<div class="diagram__box" data-diagram="fork-box-1" data-diagram-modal="parent" data-tooltip-content="#tooltip_loan">
							<div class="diagram__box-in">Loan</div>
						</div>
						<div class="diagram__box" data-diagram="fork-box-2" data-diagram-modal="parent" data-tooltip-content="#tooltip_collateral">
							<div class="diagram__box-in">Collateral</div>
						</div>
					</div>
					<div class="diagram__box diagram__box_lg" data-diagram="box-2" data-diagram-modal="parent" data-tooltip-content="#tooltip_conditions">
						<div class="diagram__box-target">
							<div class="diagram__box-in">
								Conditions
								<svg width="41px" height="41px" viewBox="0 0 41 41" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								        <g transform="translate(1.000000, 1.000000)" stroke="#808285" stroke-width="2">
								            <path d="M38.3437,19.4658 C38.3437,29.8918 29.8917,38.3438 19.4657,38.3438 C9.0397,38.3438 0.5877,29.8918 0.5877,19.4658 C0.5877,9.0398 9.0397,0.5878 19.4657,0.5878 C29.8917,0.5878 38.3437,9.0398 38.3437,19.4658 Z"></path>
								            <polyline points="19.2222 7.1239 19.2222 22.6239 29.7222 22.6239"></polyline>
								        </g>
								    </g>
								</svg>
							</div>
						</div>
					</div>
					<div class="diagram__fork" data-diagram="fork-2">
						<div class="diagram__fork-color diagram__fork-color_blue" data-diagram-modal="parent" data-tooltip-content="#tooltip_default">Default</div>
						<div class="diagram__fork-color diagram__fork-color_green" data-diagram-modal="parent" data-tooltip-content="#tooltip_completion">Completion</div>
					</div>
					<div class="diagram__fork" data-diagram="fork-3">
						<div class="diagram__box" data-diagram="fork-sm-box-1" data-diagram-modal="parent" data-tooltip-content="#tooltip_rating-down">
							<div class="diagram__box-in">Borrower rating <strong>DOWN</strong></div>
						</div>
						<div class="diagram__box" data-diagram="fork-sm-box-2" data-diagram-modal="parent" data-tooltip-content="#tooltip_rating-up">
							<div class="diagram__box-in">Borrower rating <strong>UP</strong></div>
						</div>
						<div class="diagram__box diagram__box_optional" data-diagram="fork-sm-box-3" data-diagram-modal="parent" data-tooltip-content="#tooltip_collateral-realisation">
							<div class="diagram__box-in">Collateral realization</div>
						</div>
						<!-- <div class="diagram__box diagram__box_optional" data-diagram="fork-sm-box-4" data-diagram-modal="parent" data-tooltip-content="#tooltip_interest-realisation">
							<div class="diagram__box-in">Interest realisation</div>
						</div> -->
						<div class="diagram__box-label" data-diagram="label-optional">Optional</div>
					</div>
					<div class="diagram__hints" data-diagram="hints-1">
						<div class="diagram__hints-label" data-diagram="hint-label-1">Lender</div>
						<div class="diagram__hints-item diagram__hints-item_blue" data-diagram="hint-item-1" data-diagram-modal="parent" data-tooltip-content="#tooltip_final-repayment">Repayment</div>
						<div class="diagram__hints-item" data-diagram="hint-item-2" data-diagram-modal="parent" data-tooltip-content="#tooltip_final-interest">Interest</div>
						<div class="diagram__hints-item" data-diagram="hint-item-3" data-diagram-modal="parent" data-tooltip-content="#tooltip_final-loan">Loan</div>
					</div>
					<div class="diagram__hints" data-diagram="hints-2">
						<div class="diagram__hints-label" data-diagram="hint-label-1">Borrower</div>
						<div class="diagram__hints-item" data-diagram="hint-item-4" data-diagram-modal="parent" data-tooltip-content="#tooltip_final-collateral">Collateral</div>
					</div>
				</div>
				<div class="diagram__overlay js-diagram-modal-overlay"></div>
			</div>
			<div class="diagram__info">
				{% set diagramInfo = [
					{
						icon: 'diagram-management',
						title: 'Risk management toolkit',
						description: 'Provides advisory on market'
					},
					{
						icon: 'diagram-exchange',
						title: 'Exchange',
						description: 'Runs continious auction'
					},
					{
						icon: 'diagram-contract',
						title: 'Smart contract',
						description: 'Executes decentralized order processing'
					},
					{
						icon: 'diagram-system',
						title: 'Users repayment rating system',
						description: 'Supplies trustful users ratings'
					},
					{
						icon: 'diagram-etherdelta',
						title: 'Etherdelta',
						description: 'Ensures decentralized exchange'
					}
				] %}
				{% for item in diagramInfo %}
					<div class="diagram__info-box js-diagram-info-box" data-diagram="info-{{loop.index}}" data-diagram-modal="parent" data-diagram-hover="no" data-tooltip-content="#tooltip_{{item.icon}}">
						<div class="diagram__info-box-left js-diagram-info-box-open">
							<div class="diagram__info-icon">
								<img src="img/{{item.icon}}.svg" alt="/">
							</div>
							<div class="diagram__info-plus"></div>
						</div>
						<div class="diagram__info-box-in">
							<div class="diagram__info-title">{{item.title}}</div>
							<div class="diagram__info-description">{{item.description}}</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="tooltip_templates">
			<span id="tooltip_conditions">
				<p>A deal is defined as an event when both counterparties are registered by the matching engine and settlement is triggered by the smart contract under following conditions:</p>
				<ul>
          <li>Type and amount of borrowed ERC20 tokens</li>
					<li>Contract expiration date</li>
					<li>Type of tokens used as a collateral</li>
					<li>Interest rate</li>
				</ul>
			</span>
			<span id="tooltip_placement-request">
				<p>The lender specifies:</p>
				<ul>
					<li>Asset and its size to be offered to borrowers</li>
					<li>Collateral requirements</li>
					<li>Borrower's minimum credit rating</li>
					<li>Contract maturity date</li>
					<li>Interest rate</li>
					<li>If pooled offers are allowed</li>
					<li>Proposal expiration time</li>
				</ul>
			</span>
			<span id="tooltip_loan-request">
				<p>The borrower specifies:</p>
				<ul>
					<li>Asset and its size to be asked from lenders</li>
					<li>Contract maturity date</li>
					<li>Collateral to be settled</li>
					<li>If pooled offers are allowed</li>
					<li>Proposal expiration time</li>
				</ul>
			</span>
			<span id="tooltip_matching">
				<p>The matching engine has no access to private keys.</p>
			</span>
			<!-- for diagram info -->
			<span id="tooltip_diagram-management">
				<p>Intelligent system provides advisory on market based on market events - ceilings, floors and indicative rates for offer submission.</p>
			</span>
			<span id="tooltip_diagram-exchange">
				<p>A set of web applications where  participants interact with decentralized repo contracts.</p>
			</span>
			<span id="tooltip_diagram-contract">
				<p>The core of decentralized repo transaction. Security of assets is provided by Ethereum network. The smart contract acts as the settlement mechanism for deals that occurred through the public auction.</p>
			</span>
			<span id="tooltip_diagram-system">
				<p>The rating system rewards and penalizes users proportionally to the deal’s volumes. A separate smart contract stores the rating data.</p>
				{# <img src="./img/formula.png" alt="formula" class="diagram__formula"> #}
			</span>
			<span id="tooltip_diagram-etherdelta">
				<p>A treasury management streamlining feature. The lender can specify that he wants the process of collateral realization to be automatically performed through Etherdelta. In such event, orders are automatically placed and the deal’s proceeds are directly transferred to the the lender.</p>
			</span>
			<!-- end -->
			<span id="tooltip_system-free">
				<p>System fee is paid in OXG tokens. Gas included.</p>
			</span>
			<span id="tooltip_loan">
				<p>Loan is transferred to borrower on collateral settlement.</p>
			</span>
			<span id="tooltip_collateral">
				<p>The collateral is locked in the smart contract until the credit-event.</p>
			</span>
			<span id="tooltip_default">
				<p>If the borrower fails to return borrowed tokens when the deal has expired, the deal is automatically considered default. The lender will then be able to claim the collateral from the contract.</p>
			</span>
			<span id="tooltip_completion">
				<p>When the borrower successfully returns borrowed tokens with interests while the deal is still active (not expired), the deal is automatically considered complete.</p>
			</span>
			<span id="tooltip_rating-down">
				<p>In case of a default the rating declines.</p>
			</span>
			<span id="tooltip_rating-up">
				<p>In case of a successfully closed loan the rating increases.</p>
			</span>
			<span id="tooltip_collateral-realisation">
				<p>OPTIONAL<br>If the lender has specified this clause in the contract – automated realization.</p>
			</span>
			<span id="tooltip_interest-realisation">
				<p>Optional. If the lender has specified this clause in the contract the interest is paid from the collateral.</p>
			</span>
			<span id="tooltip_final-interest">
				<p>Interest is an agreed percentage of notional value of borrowed assets.</p>
			</span>
			<span id="tooltip_final-repayment">
				<p>All transactions are secured and the lender will always receive the collateral in case of borrower’s default on payment.</p>
			</span>
			<span id="tooltip_final-loan">
				<p>Borrowed assets are returned to the lender using the ERC20 contract interface.</p>
			</span>
			<span id="tooltip_final-collateral">
				<p>The collateral is unblocked from the repo contract and is returned to the borrower.</p>
			</span>
		</div>
	</div>
	<div class="inner">
		<div class="introducing__footer">
			<div class="introducing__label">Support of all ERC20-compliant tokens.</div>
			<img src="img/ethereum-logo.svg" alt="Ethereum" class="introducing__logo">
		</div>
	</div>
</div>
<!-- ¯\_(ツ)_/¯ -->
