{% set data = [
	{
		title: 'Individuals',
		items: ['Investors', 'Miners', 'Traders']
	},
	{
		class: 'mod',
		title: 'Businesses',
		items: ['Fonds', 'ICOs', 'Exchanges', 'Remittance services']
	}
] %}
<!-- profiles -->
<div class="profiles">
	<div class="profiles__inner inner">
		<div class="profiles__content">
			<h3 class="profiles__title title-lg">Member profiles</h3>
			<div class="profiles__description">Who will most benefit from the REPO market on blockchain with the help of OXYGEN?</div>	
		</div>
		<div class="profiles__out">
			{% for row in data %}
				<div class="profiles__row {% if row.class %}profiles__row_{{row.class}}{% endif %}">
					<div class="profiles__line"></div>
					<h4 class="profiles__title-md">{{row.title}}</h4>
					<div class="profiles__wrap">
						{% for item in row.items %}
							<div class="profiles__item">
								<div class="profiles__svg">
									<svg width="150" height="168" viewBox="0 0 150 168" xmlns="http://www.w3.org/2000/svg">
										<title>honeycomb-svg</title>
										<path d="M84.496 3.907a19 19 0 0 0-18.992 0l-55 31.735A19 19 0 0 0 1 52.099v63.45a19 19 0 0 0 9.504 16.456l55 31.735a19 19 0 0 0 18.992 0l55-31.735A19 19 0 0 0 149 115.548v-63.45a19 19 0 0 0-9.504-16.456l-55-31.735z" stroke-width="2" fill="none" fill-rule="evenodd"/>
									</svg>
								</div>
								<div class="profiles__name">{{item}}</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- ¯\_(ツ)_/¯ -->