<!-- begin team -->
<div class="team">
	<div class="inner team__inner">
		<h2 class="title-lg team__title">The team</h2>
		{% set members = [
			{
				id: '1',
				title: "Alex Melikhov",
				sub: "CEO",
				description: "14 years of entrepreneurial and fintech experience. Bitcoin user since 2013. Ethereum smart contracts specialist. Engineer in applied mathematics.",
				img: 'melikhov.jpg',
				social: [
					{
						ico: 'linkedin-full',
						link: 'https://www.linkedin.com/in/alexander-melikhov-bb272532/'
					},
					{
						ico: 'telegram-full',
						link: ' https://t.me/alexmcdee'
					}
				]
			},
			{
				id: '1',
				title: "Konstantin Gladych",
				sub: "CBDO",
				description: "CEO of Changelly, #1 instant exchanger&nbsp;on the cryptocurrency market. Blockchain enthusiast.",
				img: 'kostya.jpg',
				social: [
					{
						ico: 'linkedin-full',
						link: 'https://www.linkedin.com/in/gladkos/'
					},
					{
						ico: 'twitter-full',
						link: 'https://twitter.com/gladkos/ '
					},
					{
						ico: 'telegram-full',
						link: 'https://t.me/gladkos '
					}
				]
			},
			{
				id: '2',
				title: "Nikolay Volf",
				sub: "CTO",
				description: 'Experienced any-stack software engineer. Rust pioneer. Core developer of Parity Ethereum Client since 2016.',
				img: 'kolya.jpg',
				social: [ 
					{
						ico: 'linkedin-full',
						link: 'https://www.linkedin.com/in/nikolayvolf/'
					},
					{
						ico: 'telegram-full',
						link: 'https://t.me/nikolay_volf '
					}
				]
			},
			{
				id: '3',
				title: "Vladimir Nikul",
				sub: "Project Manager",
				description: 'Ex-KPMG strategy consultant. 3 years of project management experience in top-3 financial conglomerates.',
				img: 'vova.jpg',
				social: [ 
					{
						ico: 'linkedin-full',
						link: 'https://www.linkedin.com/in/nikolayvolf/'
					},
					{
						ico: 'telegram-full',
						link: 'https://t.me/Serb_i_molod'
					}
				]
			}
		] %}
		<div class="team__members">
			<div class="team__svg">
				<svg 
					width="248.5px" 
					height="248.5px" 
					viewBox="0 0 248.5 248.5" 
					enable-background="new 0 0 248.5 248.5" 
					xml:space="preserve">
					<!-- begin gradients -->
					<linearGradient 
						id="member-gradient1" 
						x1="0%" 
						y1="100%" 
						x2="80.4567921%" 
						y2="100%">
						<stop stop-color="#35A8FF" offset="0%"></stop>
						<stop stop-color="#35A8FF" stop-opacity="0" offset="100%"></stop>
					</linearGradient>
					<linearGradient 
						id="member-gradient2" 
						x1="105.916355%" 
						y1="1.11022302e-14%" 
						x2="16.7605891%" 
						y2="1.11022302e-14%">
						<stop stop-color="#36CD98" offset="0%"></stop>
						<stop stop-color="#36CD98" stop-opacity="0" offset="100%"></stop>
					</linearGradient>
					<linearGradient 
						id="member-gradient3" 
						x1="-1.11022302e-14%" 
						y1="1.72254642e-14%" 
						x2="-1.11022302e-14%" 
						y2="76.8936173%">
						<stop stop-color="#35A8FF" offset="0%"></stop>
						<stop stop-color="#35A8FF" stop-opacity="0" offset="100%"></stop>
					</linearGradient>
					<!-- end gradients -->

					<!-- begin borders -->
					<symbol id="member-border1">
						<g transform="translate(-596.000000, -7187.000000)">
							<g transform="translate(583.000000, 7173.000000)">
								<g transform="translate(137.421356, 138.000000) rotate(-315.000000) translate(-137.421356, -138.000000) ">
									<path fill="none" 
										stroke="url(#member-gradient1)" 
										stroke-width="3" 
										d="M79,39.8h117c22.1,0,40,17.9,40,40v117c0,22.1-17.9,40-40,40H79c-22.1,0-40-17.9-40-40v-117C39,57.7,56.9,39.8,79,39.8z"></path>
								</g>
							</g>
						</g>
					</symbol>
					<symbol id="member-border2">
						<g transform="translate(-596.000000, -7187.000000)">
							<g transform="translate(583.000000, 7173.000000)">
								<g transform="translate(137.421356, 138.000000) rotate(-315.000000) translate(-137.421356, -138.000000) ">
									<path fill="none" 
										stroke="url(#member-gradient2)" 
										stroke-width="3" 
										d="M79,39.8h117c22.1,0,40,17.9,40,40v117c0,22.1-17.9,40-40,40H79c-22.1,0-40-17.9-40-40v-117C39,57.7,56.9,39.8,79,39.8z"></path>
								</g>
							</g>
						</g>
					</symbol>
					<symbol id="member-border3">
						<g transform="translate(-596.000000, -7187.000000)">
							<g transform="translate(583.000000, 7173.000000)">
								<g transform="translate(137.421356, 138.000000) rotate(-315.000000) translate(-137.421356, -138.000000) ">
									<path fill="none" 
										stroke="url(#member-gradient3)" 
										stroke-width="3" 
										d="M79,39.8h117c22.1,0,40,17.9,40,40v117c0,22.1-17.9,40-40,40H79c-22.1,0-40-17.9-40-40v-117C39,57.7,56.9,39.8,79,39.8z"></path>
								</g>
							</g>
						</g>
					</symbol>
					<!-- end borders -->
					<mask id="member-mask" fill="white">
						<g transform="translate(-596.000000, -7187.000000)">
							<g transform="translate(583.000000, 7173.000000)">
								<g transform="translate(137.421356, 138.000000) rotate(-315.000000) translate(-137.421356, -138.000000) ">
									<path 
										d="M80.2,40.9l114.6,0.1C217,41,235,59,235,81.2l0.1,114.6c0,22.2-18,40.2-40.2,40.2l-114.6-0.1c-22.2,0-40.2-18-40.3-40.3L40,81C40,58.8,58,40.8,80.2,40.9z"></path>
								</g>
							</g>
						</g>
					</mask>
				</svg>
			</div>
			{% for item in members %}
				<div class="member team__member">
					<div class="member__img">
						<svg width="248" height="248" viewBox="0 0 248 248">
							<use xlink:href="#member-border{{item.id}}" />
							<image x="0" y="0" xlink:href="img/{{item.img}}" width="100%" height="100%" mask="url(#member-mask)"></image>
						</svg>
					</div>
					<div class="member__title">
						<div>{{item.title | safe}}</div> 
						<strong>{{item.sub}}</strong>
					</div>
					<div class="member__description">{{item.description | safe}}</div>
					<div class="member__social">
						{% for data in item.social %}
							<a href="{{data.link}}" target="_blank">
								{{mixins.icon(data.ico)}}
							</a>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
		{% set boxes = [
			{
				link: 'https://changelly.com/',
				img: 'changelly-inline.png',
				imgClass: 'box__img_changelly',
				alt: 'Changelly',
				label: 'The project of',
				text: 'An instant cryptocurrency exchange providing the best crypto-to-crypto rates on the market.',
				info: [
					{
						value: '50 000 BTC',
						desc: 'monthly exchange volume',
						classList: 'box__col_big'
					},
					{
						value: '650 000',
						desc: 'customers',
						classList: 'box__col_small'
					}
				]
			}
		] %}
		{# {
			link: 'https://minergate.com/',
			img: 'minergate_logo_x2.png',
			imgClass: 'box__img_minergate',
			alt: 'MinerGate',
			text: '#1 Cryptocurrency GUI miner and Mining Pool from crypto community.',
			info: [
				{
					value: '50 000 ',
					desc: 'miners online',
					classList: 'box__col_big'
				},
				{
					value: 'over 1.2 mln',
					desc: 'registered users',
					classList: 'box__col_small'
				}
			]
		} #}
		<div class="team__info">
			<div class="team__row">
				{% for item in boxes %}
					<div class="team__col">
						<div class="box">
							<div class="box__info">
								<div class="box__label">{{item.label}}</div>
								<a target="_blank" href="{{item.link}}" class="box__img {{item.imgClass}}">
									<img src="img/{{item.img}}" alt="{{item.alt}}">
								</a>
							</div>
							<div class="box__content">
								<div class="box__text">{{item.text}}</div>
								<div class="box__row">
									{% for item in item.info %}
										<div class="box__col {{item.classList}}">
											<div class="box__value">{{item.value}}</div>
											<div class="box__description">{{item.desc | safe}}</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		{% set partners = [
			{
				img: 'cointelegraph',
				link: 'https://cointelegraph.com/news/changelly-exchange-opens-doors-as-compromised-shapeshift-goes-down'
			},
			{
				img: 'coindesk',
				link: 'https://www.coindesk.com/press-releases/changelly-announces-partnership-jaxx-wallet/'
			},
			{
				img: 'forbes',
				link: 'https://www.forbes.com/sites/rogeraitken/2017/01/31/chronobank-crypto-startup-attracts-3m-bitcoin-forges-changelly-app-partnership/#4f112d026413'
			},
			{
				img: 'bitcoin',
				link: 'https://news.bitcoin.com/changelly-wings-foundation-partner-provide-seamless-multi-currency-support-blockchain-crowdfunding/'
			},
			{
				img: 'cryptocoins',
				link: 'https://www.cryptocoinsnews.com/changelly-adds-lisk-instant-exchange-service/'
			}
			
		] %}
		<div class="team__partners">
			<div class="team__label">Media about us</div>
			{% for item in partners %}
				<a href="{{item.link}}" target="_blank" class="team__partner">
					<img src="img/{{item.img}}.jpg" alt="{{item.img}}">
				</a>
			{% endfor %}
		</div>
	</div>
</div>
<!-- end team -->
