<!-- topic -->
<div class="topic">
	<div class="clouds js-clouds" data-clouds-paralax="true">
		<div class="clouds__word js-clouds-word"></div>
	</div>
	<div class="topic__inner inner">
		<div class="topic__logo">
			<img src="./img/logo-big.svg" alt="img">
		</div>
		<h1 class="topic__title">OXYGEN</h1>
		<div class="topic__sub-title">Above peer-to-peer lending:<br>Decentralized REPO market of tokens and coins.</div>
		<div class="topic__text">Please apply for Whitelist to get bonus up to 20%</div>
		<!-- form -->
		<form action="/" class="topic__subscription subscription js-validation" data-validation-step="first">
			<div class="field">
				<div class="input">
					<input type="text" placeholder="mail@example.com" name="step_1-email" data-validation="email" class="js-validation-email-first">
					<button class="btn-arrow" type="submit">
						{{mixins.icon('arrow-right')}}
					</button>
				</div>
			</div>
		</form>
		<!-- ¯\_(ツ)_/¯ -->
		<!-- info -->
		<div class="topic__info info">
			<div class="info__icon">
				{{mixins.icon('info-logo')}}
			</div>
			<div class="info__text">Based on Ethereum smart-contracts</div>
		</div>
		<!-- ¯\_(ツ)_/¯ -->
		<!-- creators -->
		<div class="topic__creators creators">
			<div class="creators__text">From the creators of</div>
			<ul class="creators__list">
				<li class="creators__item"><a target="_blank" href="https://changelly.com/"><img src="./img/logo-chan-white.svg" alt="creators-logo"></a></li>
				{# <li class="creators__item creators__item_text">&amp;</li>
				<li class="creators__item"><a target="_blank" href="https://minergate.com/"><img src="./img/logo-miner-white.svg" alt="creators-logo"></a></li> #}
			</ul>
		</div>
		<!-- ¯\_(ツ)_/¯ -->
	</div>
</div>
<!-- ¯\_(ツ)_/¯ -->