<!-- topic -->
<div class="topic js-topic" id="topic">
	<div class="clouds js-clouds" data-clouds-paralax="true">
		<div class="clouds__word js-clouds-word"></div>
	</div>
	<div class="topic__inner inner">
		<div class="topic__logo">
			<img src="./img/logo-big.svg" alt="img">
			<h1 class="topic__title">OXYGEN</h1>
		</div>
		<div class="topic__content">
			<div class="topic__sub-title">Decentralized Repo platform</div>
			<div class="topic__description">
				<p>Token holders can now safely lend crypto assets for interest rate. Users can borrow tokens against crypto collateral for short-selling or utility use.</p>
			</div>
			<div class="signup topic__subscription">
				<p>Sign up for the limited pre-sale to get an up to 20 % bonus</p>
				<a href="#" class="btn btn_blue js-modal-open" data-modal-target="modal-step-1">sign up for pre-sale</a>
			</div>
		</div>
	</div>
	<div class="topic__bottom">
		<div class="inner">
			<div class="topic__t-coll">
				<!-- press -->
				<div class="press">
					<div class="press__text">Upcoming limited pre-sale</div>
					<div class="press__wrap">
						<div class="press__col">
							<div class="press__title">$2M</div>
							<p>Amount</p>
						</div>
						<div class="press__col">
							<div class="press__title">TBA</div>
							<p>Start date</p>
						</div>
					</div>
				</div>
				<!-- ¯\_(ツ)_/¯ -->
			</div>
			<div class="topic__t-coll">
				<!-- begin sm-info -->
				<div class="sm-info topic__sm-info">
					<div class="sm-info__text">From Changelly team — leading crypto exchanger on the market</div>
					<div class="sm-info__wrap">
						<a href="https://changelly.com/" class="sm-info__logo">
							<img src="./img/sm-info_changelly.svg" alt="Changelly">
						</a>
						<div class="sm-info__indicators">
							<div class="sm-info__col">
								<div class="sm-info__title">50 000 BTC</div>
								<p>monthly exchange volume</p>
							</div>
							<div class="sm-info__col">
								<div class="sm-info__title">650 000</div>
								<p>customers</p>
							</div>
						</div>
					</div>
				</div>
				<!-- ¯\_(ツ)_/¯ -->
			</div>
		</div>
	</div>
</div>
<!-- ¯\_(ツ)_/¯ -->
