<!-- topic -->
<div class="topic">
	<div class="clouds js-clouds" data-clouds-paralax="true">
		<div class="clouds__word js-clouds-word"></div>
	</div>
	<div class="topic__inner inner">
		<div class="topic__logo">
			<img src="./img/logo-big.svg" alt="img">
			<h1 class="topic__title">OXYGEN</h1>
		</div>
		<div class="topic__content">
			<div class="topic__sub-title">Decentralized REPO platform</div>
			<div class="topic__description">
				<p>Token holders can now safely lend and borrow crypto assets for collateral of tokens to trade on margin</p>
			</div>
			<div class="signup">
				<p>Sign up for the limited pre-sale to get an up to 20 % bonus</p>
				<a href="#" class="btn btn_blue js-modal-open" data-modal-target="modal-step-1">Sign Up for Whitelist</a>
			</div>
		</div>
	</div>
	<div class="topic__bottom">
		<div class="inner">
			<div class="topic__t-coll">
				<!-- form -->
				<form action="/" class="topic__subscription subscription subscription_simple js-validation" data-validation-step="first">
					<div class="subscription__label">Apply for Whitelist to get a bonus of up to 20%</div>
					<div class="field">
						<button class="btn btn_blue subscription__btn" type="submit">Apply</button>
						<div class="input subscription__input">
							<input type="text" placeholder="Leave email" name="step_1-email" data-validation="email" class="js-validation-email-first">
						</div>
					</div>
				</form>
				<!-- ¯\_(ツ)_/¯ -->
			</div>
			<div class="topic__t-coll">
				<!-- begin sm-info -->
				<div class="sm-info topic__sm-info">
					<div class="sm-info__text">From the team of the <a href="#">best crypto exchange</a> on the market </div>
					<div class="sm-info__wrap">
						<a href="https://changelly.com/" class="sm-info__logo">
							<img src="./img/sm-info_changelly.svg" alt="Changelly">
						</a>
						<div class="sm-info__indicators">
							<div class="sm-info__col">
								<div class="sm-info__title">50 000 BTC</div>
								<p>monthly exchange volume</p>
							</div>
							<div class="sm-info__col">
								<div class="sm-info__title">400 000</div>
								<p>customers</p>
							</div>
						</div>
					</div>
				</div>
				<!-- ¯\_(ツ)_/¯ -->
			</div>
		</div>
	</div>
</div>
<!-- ¯\_(ツ)_/¯ -->