{% import "partials/_mixins.html" as mixins %}
<!-- begin step -->
<div class="step">
	<form action="/" class="js-validation" data-validation-step="second">
		<h2 class="title-lg step__title">Oxygen limited pre-sale</h2>
		<div class="step__description">
			<p><strong>Disclaimer:</strong>This website and all information, products and services provided through this website are approved ‘as is’ and on an ‘as available’ guarantees whatsoever of any kind including, without limitation, any representations, warranties, promises or guarantees regarding the accuracy, currency, completeness, adequacy, availability, suitability or operation of this website, any products or services we may provide through it or the information or material it contains.</p>
		</div>
		{% set stepList = [
			{ name: "step_2-checkbox", text: "Check here to confirm that you are NOT a citizen, resident of or entity formed out of the United States of America, People's Republic of China and South Korea, or are you signing on behalf of a citizen, resident of or entity formed out of United States, People's republic of China and South Korea." },
			{ name: "step_2-checkbox", text: "Check here to confirm that you have read the <a href='#'>Oxygen whitepaper</a>, disclaimer terms mentioned above and <a href='#'>Terms of Service</a> and <a href='#'>Privacy Policy</a>." }
		] %}
		<ul class="step__list">
			{% for item in stepList %}
				<li>
					<label class="checkbox step__checkbox">
						<input type="checkbox" {{item.inputAttrs | safe}} class="js-validation-checkbox" name="{{item.name}}-{{loop.index}}">
						<span class="checkbox__icon">
							{{mixins.icon('check')}}
						</span>
					</label>
					<span class="step__text">{{item.text | safe}}</span>
				</li>
			{% endfor %}
		</ul>
		<div class="step__footer">
			<button class="btn btn_simple text-uppercase step__btn js-validation-submit" disabled type="submit">Next</button>
		</div>
	</form>
</div>
<!-- end step -->