{% import "partials/_mixins.html" as mixins %}
<!-- begin step -->
<div class="step step_mod">
	<form action="/" class="js-validation toggle-disabled" data-validation-step="third">
		<h2 class="title-lg step__title">Oxygen limited pre-sale</h2>
		<div class="step__description">
			<p>If you are interested to get an <strong>up to 20%</strong> bonus, please join Whitelist for limited pre-sale of OXG tokens.</p>
			<p>It is important for us to understand who will become a part of the Oxygen environment and to what extent are participants interested in its development. Therefore, we have decided to run limited pre-sale for the most involved contributors.</p>
		</div>
		{% set stepFields = [
			{ name: 'step_3-email', label: 'E-mail', validation: 'email', inputClassList: 'js-validation-email-second' },
			{ name: 'step_3-phone', label: 'Phone', type: 'number', pattern: '^[ 0-9+-]+$', placeholder: 'Optional' },
			{
				label: 'Country of Residence',
				select: {
					selectAttrs: 'name="step_3-country"',
					placeholder: 'Please select...',
					options: [
					'',
					'Afghanistan',
					'Albania',
					'Algeria',
					'Andorra',
					'Angola',
					'Antigua and Deps',
					'Argentina',
					'Armenia',
					'Australia',
					'Austria',
					'Azerbaijan',
					'Bahamas',
					'Bahrain',
					'Bangladesh',
					'Barbados',
					'Belarus',
					'Belgium',
					'Belize',
					'Benin',
					'Bhutan',
					'Bolivia',
					'Bosnia Herzegovina',
					'Botswana',
					'Brazil',
					'Brunei',
					'Bulgaria',
					'Burkina',
					'Burundi',
					'Cambodia',
					'Cameroon',
					'Canada',
					'Cape Verde',
					'Central African Rep',
					'Chad',
					'Chile',
					'China',
					'Colombia',
					'Comoros',
					'Congo',
					'Congo (Democratic Rep)',
					'Costa Rica',
					'Croatia',
					'Cuba',
					'Cyprus',
					'Czech Republic',
					'Denmark',
					'Djibouti',
					'Dominica',
					'Dominican Republic',
					'East Timor',
					'Ecuador',
					'Egypt',
					'El Salvador',
					'Equatorial Guinea',
					'Eritrea',
					'Estonia',
					'Ethiopia',
					'Fiji',
					'Finland',
					'France',
					'Gabon',
					'Gambia',
					'Georgia',
					'Germany',
					'Ghana',
					'Greece',
					'Grenada',
					'Guatemala',
					'Guinea',
					'Guinea-Bissau',
					'Guyana',
					'Haiti',
					'Honduras',
					'Hungary',
					'Iceland',
					'India',
					'Indonesia',
					'Iran',
					'Iraq',
					'Ireland (Republic)',
					'Israel',
					'Italy',
					'Ivory Coast',
					'Jamaica',
					'Japan',
					'Jordan',
					'Kazakhstan',
					'Kenya',
					'Kiribati',
					'Korea North',
					'Korea South',
					'Kosovo',
					'Kuwait',
					'Kyrgyzstan',
					'Laos',
					'Latvia',
					'Lebanon',
					'Lesotho',
					'Liberia',
					'Libya',
					'Liechtenstein',
					'Lithuania',
					'Luxembourg',
					'Macedonia',
					'Madagascar',
					'Malawi',
					'Malaysia',
					'Maldives',
					'Mali',
					'Malta',
					'Marshall Islands',
					'Mauritania',
					'Mauritius',
					'Mexico',
					'Micronesia',
					'Moldova',
					'Monaco',
					'Mongolia',
					'Montenegro',
					'Morocco',
					'Mozambique',
					'Myanmar, (Burma)',
					'Namibia',
					'Nauru',
					'Nepal',
					'Netherlands',
					'New Zealand',
					'Nicaragua',
					'Niger',
					'Nigeria',
					'Norway',
					'Oman',
					'Pakistan',
					'Palau',
					'Panama',
					'Papua New Guinea',
					'Paraguay',
					'Peru',
					'Philippines',
					'Poland',
					'Portugal',
					'Qatar',
					'Romania',
					'Russian Federation',
					'Rwanda',
					'St Kitts and Nevis',
					'St Lucia',
					'Saint Vincent and the Grenadines',
					'Samoa',
					'San Marino',
					'Sao Tome and Principe',
					'Saudi Arabia',
					'Senegal',
					'Serbia',
					'Seychelles',
					'Sierra Leone',
					'Singapore',
					'Slovakia',
					'Slovenia',
					'Solomon Islands',
					'Somalia',
					'South Africa',
					'South Sudan',
					'Spain',
					'Sri Lanka',
					'Sudan',
					'Suriname',
					'Swaziland',
					'Sweden',
					'Switzerland',
					'Syria',
					'Taiwan',
					'Tajikistan',
					'Tanzania',
					'Thailand',
					'Togo',
					'Tonga',
					'Trinidad and Tobago',
					'Tunisia',
					'Turkey',
					'Turkmenistan',
					'Tuvalu',
					'Uganda',
					'Ukraine',
					'United Arab Emirates',
					'United Kingdom',
					'United States',
					'Uruguay',
					'Uzbekistan',
					'Vanuatu',
					'Vatican City',
					'Venezuela',
					'Vietnam',
					'Yemen',
					'Zambia',
					'Zimbabwe'
					]
				}
			}
		] %}
		<div class="step__form">
			{% for item in stepFields %}
				<div class="step__box">
					<div class="step__label">
						<div class="step__label-in">{{item.label | safe}}</div>
					</div>
					<div class="step__field">
						{% if not item.select %}
							<input 
								class="sm-input {{item.inputClassList}}"
								{% if item.type %}
									type="{{item.type}}" 
									{% else %}
									type="text" 
								{% endif %}
								{% if item.pattern %}
									pattern="{{item.pattern}}" 
								{% endif %}
								{% if item.validation %}
									data-validation="{{item.validation}}"
								{% endif %}
								{% if item.placeholder %}placeholder="{{item.placeholder}}"{% endif %}
								name="{{item.name}}">
						{% else %}
							{{mixins.select(item.select)}}
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="step__bottom">
			<h3 class="step__title-md">Amount of tokens</h3>
			<div class="sm-calculator step__calculator">
				<div class="field-group sm-calculator__group">
					<div class="field-group__input">
						<input type="number" class="sm-input" value="10" pattern="^[ 0-9,]+$" data-validation="number" name="step_3-amount-value" data-validation-event="keyup change blur" id="step_3-amount-value">
					</div>
					<div class="field-group__select">
						{{mixins.select({
							selectAttrs: 'name="step_3-amount-type"',
							id: 'step_3-amount-value-type',
							options: [
								'BTC',
								'ETH',
								'USD'
							]
						})}}
					</div>
				</div>
				<div class="sm-calculator__value">
					<span class="sm-calculator__gray">=</span>
					<span id="js-span-oxg-value">0 OXG</span>
				</div>
				<div class="sm-calculator__value-small sm-calculator__gray">
					<span>=</span>
					<span id="js-span-usd-value">0 USD</span>
				</div>
			</div>
			<button class="btn btn_simple text-uppercase step__btn" type="submit">Apply</button>
		</div>
	</form>
</div>
<!-- end step -->