{% import "partials/_mixins.html" as mixins %}
<!-- begin step -->
<div class="step">
	<form action="/" class="js-validation" data-validation-step="third">
		<h2 class="title-lg step__title">Oxygen Whitelist</h2>
		<div class="step__description">
			<p>If you are interested in BeTH tokens sale, please fill in as many fields below as possible to gain access to our Whitelist.</p>
			<p>It is important for us to understand who will become a part of the Oxygen environment and to what extent are participants interested in its development. Therefore, we have decided to create <strong>a Whitelist</strong> and <strong>a closed pre-sale</strong> for the most involved contributors in our project.</p>
		</div>
		{% set stepFields = [
			{ name: 'step_3-email', label: 'E-mail', validation: 'required', inputClassList: 'js-validation-email-second' },
			{ name: 'step_3-company', label: 'Company', validation: 'required' },
			{
				label: 'Country of residence', 
				select: {
					selectAttrs: 'name="step_3-country"',
					validation: 'required',
					options: [
						'Russian Federation',
						'Russian Federation 1',
						'Russian Federation 2',
						'Russian Federation 3'
					]
				}
			},
			{
				name: 'step_3-amount',
				inputClassList: 'step__field-number', 
				label: 'Amount in USD you plan to&nbsp;spend on our tokens',
				validation: 'number'
			}
		] %}
		<div class="step__form">
			{% for item in stepFields %}
				<div class="step__box">
					<div class="step__label">
						<div class="step__label-in">{{item.label | safe}}</div>
					</div>
					<div class="step__field">
						{% if not item.select %}
							<input type="text" class="sm-input {{item.inputClassList}}" data-validation="{{item.validation}}" name="{{item.name}}">
						{% else %}
							{{mixins.select(item.select)}}
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="step__footer">
			<button class="btn step__btn">Apply</button>
		</div>
	</form>
</div>
<!-- end step -->