.article
	padding: 218px 0 170px
	+cb
	font-size: 18px
	line-height: (36/18) 
	letter-spacing: -0.1em
	word-spacing: 0.44em 
	+md
		padding: 116px 0 100px
		font-size: 16px
		line-height: (34/16)
	+sm
		padding: 49px 0 53px
		font-size: 13px
		line-height: (26/13) 
	&__inner
		max-width: 1003px
		+md
			max-width: 653px
	&__text
		max-width: 920px
		word-break: break-all
		.glitch
			opacity: 0.5