.box
	text-align: left
	+clr
	+sm
		text-align: center
	&__info
		float: left
		padding: 34px 0 33px
		width: 50%
		+md
			float: none
			width: 100%
	&__img
		position: relative
		display: inline-block
		vertical-align: top
		max-width: 208px
		// +vertical
		&:after
			content: ''
			position: absolute
			left: 0
			right: 0
			bottom: 0
			height: 2px
		img
			display: inline-block
			vertical-align: top
			width: 100%
	&__label
		display: inline-block
		vertical-align: top
		padding: 11px 20px 14px 0
		+f(18, 25, null, 700)
		+xs
			display: block
			padding: 11px 0 14px
	&__content
		position: relative
		float: right
		padding-left: 55px
		width: 50%
		text-align: left
		+md
			float: none
			padding: 40px 0 0
			margin: 0 auto
			width: 100%
			max-width: 370px
		+sm
			text-align: center
		&:before
			content: ''
			position: absolute
			top: 4px
			left: 0
			bottom: 3px
			border-left: 2px solid $green
			+md 
				top: 0
				left: 50%
				bottom: auto
				margin-left: -100px
				max-width: 200px
				width: 100%
				border-top: 2px solid $green
				border-left: none
	&__text
		margin-bottom: 14px
		max-width: 360px
		+f(16, 25)
		+sm
			margin: 0 auto 11px
			+f(14, 22)
	&__row
		margin: 0 auto
		max-width: 437px
		+clr 
		// +md
		// 	padding: 0 22px 
	&__col
		float: left 
		width: 50%
		+sm 
			padding: 15px 0
			width: 100%
		&_big
			width: 61%
		&_small
			width: 39%
	&__value
		+f(26, 30, null, 700)
		+md
			margin-bottom: 2px 
	&__description
		+f(16, 25)