.btn
	display: inline-block
	vertical-align: top
	padding: 12px 20px 15px
	border-radius: 5px
	text-align: center
	color: $white
	background: $green
	font-size: 20px
	line-height: 23px
	letter-spacing: -0.02em
	cursor: pointer
	+hover
		background: darken($green, 10%)
	&:disabled
		background: $lightGray
		pointer-events: none