.experience
	padding: 92px 0 107px
	color: $black 
	background: $white 
	+md
		padding: 96px 0 84px
		text-align: center
	+sm
		padding: 37px 0 40px 
	&__inner
		+md
			padding: 0 15px
	&__title
		margin-bottom: 26px
		+md
			margin-bottom: 21px
	&__sm-description
		max-width: 810px
		+md
			max-width: 100%
	&__wrap
		margin-top: 149px
		padding: 0 15px
		+md
			margin-top: 49px
			padding: 0 23px
		+md
			padding: 0 14px 
	&__row
		display: table
		table-layout: fixed
		width: 100%
		+clr
		+md
			display: block
		&_mod
			+md
				display: flex
				flex-direction: column
	&__left,
	&__right
		vertical-align: middle
		display: table-cell
		+clr
		+md
			padding: 0
			width: 100%
			text-align: center
			display: block
		.experience__row_mod &
			+md
				padding: 0
				width: 100%
	&__left
		padding-right: 22px
		width: 64.3%
		.experience__row_mod &
			padding-right: 20px
			width: 35.7%
			+md
				order: 2
	&__right
		padding-left: 25px
		width: 35.7%
		.experience__row_mod &
			width: 64.3%
			+md
				order: 1
	&__img
		margin: -52px 0 0 
		+clr
		max-width: 900px
		display: block
		+md
			margin: 0
		img
			float: right
			max-width: 100%
			// border: 2px solid $blue
			display: block
			box-shadow: 0 0 30px 0 rgba(0,0,0,0.20)
			+md
				float: none
				width: 100%
			.experience__row_mod &
				float: left
				// border: 2px solid $green
				+md
					float: none
	&__info
		margin-top: 41px
		padding-right: 22px
		padding-left: 15px
		width: 64.3%
		+f(14, 20)
		color: rgba($black, 0.5) 
		+clr
		+md
			margin-top: 0
			padding: 0
			width: 100%
	&__info-text
		float: right
		max-width: 770px
		+md
			float: none
			margin: 0 auto
			max-width: 597px
			text-align: center
	&__text
		position: relative
		min-height: 303px
		width: 100%
		max-width: 360px
		margin-top: -45px
		padding: 27px 0 2px
		display: table
		+md
			margin: 0 auto
			padding: 30px 0 50px
			max-width: 597px
			min-height: auto 
			display: block
		+sm
			padding: 12px 0 44px
		.experience__row:first-child &
			margin-top: -178px
			padding: 10px 0
			+md
				margin: 0 auto
				padding: 30px 0 50px
			+sm
				padding: 12px 0 44px
		.experience__row:last-child &
			margin-top: -2px
			padding: 10px 0
			+md
				margin: 0 auto
				padding: 30px 0 43px
			+sm
				padding: 12px 0 44px
		.experience__row_mod &
			float: right
			+md
				float: none
		&:after,
		&:before
			position: absolute
			content: ""
			opacity: 0.5
			background-color: $lightGray 
			+md
				display: none
			.experience__row_mod &
				left: auto
		&:before
			top: 0
			left: -20px
			bottom: 0
			width: 1px
			.experience__row_mod &
				right: -20px
		&:after
			top: 50%
			left: -95px
			width: 75px
			height: 1px 
			.experience__row_mod &
				left: auto
				width: 50px
				right: -69px
	&__text-wrap
		width: 100%
		font-size: 16px
		text-align: left
		vertical-align: middle
		display: table-cell
		.experience__row_mod &
			text-align: right
			+md
				text-align: center
		+md
			text-align: center
			display: block
		+sm
			+f(14,22)
	&__title-md
		margin-bottom: 19px
		+f(26, 31, null, 700)
		+md
			margin-bottom: 18px 
		+sm
			margin-bottom: 17px
			font-size: 16px
			display: none
	&__footer
		margin-top: 17px
		+md
			display: none
	&__link
		color: $blue 
		+f(12, 24, null, 700)
		letter-spacing: .158em 
		text-transform: uppercase
		transition: color .3s ease-in-out
		+hover
			color: lighten($blue, 20) 