.faq
	position: relative
	padding: 220px 0 38px
	+md
		padding-bottom: 65px
	+sm 
		padding-bottom: 75px
	&__wrap
		+clr
	&__sidebar
		position: relative
		float: left
		width: 40%
	&__content
		float: right
		width: 60%
	&__logo
		display: block
		margin: 0 auto 23px
		width: 48px
		+md
			margin-bottom: 26px
		+sm
			margin-bottom: 34px
	&__title
		margin-bottom: 83px
		text-align: left
		+sm 
			margin-bottom: 40px
	&__section
		&:not(:first-child)
			padding-top: 75px
			+md 
				padding-top: 60px
			+sm
				padding-top: 45px
	&__subtitle
		margin-bottom: 22px
		color: $lightGray
		+f(18, 24, null, 700)
		letter-spacing: 0.18em
		text-transform: uppercase
		+sm
			margin-bottom: 17px
	&__box
		padding: 25px 0
		.faq__sidebar &
			padding: 0 0 20px
		+sm
			padding: 15px 0
		p 
			+f(16, 24)
		a
			color: $green
		ul 
			margin-top: 24px
			+f(16, 24)
			list-style-type: disc
			list-style-position: inside
	&__block
		display: none
	&__label
		padding-bottom: 10px
		color: $blue
		+f(12, 24, null, 700)
		letter-spacing: 0.2em
		text-transform: uppercase
		.faq__sidebar &
			padding: 0
