.features
	padding: 100px 0
	text-align: center
	&__inner
		max-width: 1036px
	&__title
		&:not(:last-child)
			margin-bottom: 26px
	&__sm-description
		margin: 0 auto
		max-width: 970px
	&__wrap
		+clr
		&:not(:first-child)
			margin-top: 80px
	&__col
		float: left
		margin-bottom: 50px
		padding: 0 60px
		width: 50%
	&__ico
		&:not(:last-child)
			margin-bottom: 18px
	&__title-md
		+f(26, 24, null, 400) 
		color: $shamrock 
		&:not(:last-child)
			margin-bottom: 15px