.features
	padding: 100px 0
	text-align: center
	+md
		padding: 53px 0
	+sm
		padding: 40px 0
	&__inner
		max-width: 1036px
	&__title
		&:not(:last-child)
			margin-bottom: 26px
	&__sm-description
		margin: 0 auto
		max-width: 970px
	&__wrap
		font-size: 0
		+clr
		&:not(:first-child)
			margin-top: 80px
			+md
				margin-top: 98px 
			+md
				margin-top: 53px 
	&__col
		margin-bottom: 50px
		padding: 0 60px
		width: 50%
		font-size: 16px
		display: inline-block
		vertical-align: top
		+md
			margin-bottom: 47px
			float: none
			width: 100%
		+sm
			margin-bottom: 28px
			padding: 0
			font-size: 14px
			line-height: (22/14) 
	&__ico
		&:not(:last-child)
			margin-bottom: 18px
			+md
				margin-bottom: 14px 
			+sm
				margin-bottom: 19px 
	&__title-md
		+f(26, 24, null, 400) 
		color: $shamrock 
		&:not(:last-child)
			margin-bottom: 15px
			+md
				margin-bottom: 18px 
			+sm
				margin-bottom: 21px 
				font-size: 20px
	&__formula
		margin: 15px auto 0
		max-width: 180px
		img
			max-width: 100%
			display: block