.field-group
	+clr
	&__input,
	&__select
		float: left
	&__input
		width: 68%
		.sm-input
			border-top-right-radius: 0
			border-bottom-right-radius: 0
			font-size: 26px
			font-weight: 700
	&__select
		width: 32%
		.select
			font-size: 18px !important
		.select2-container--default 
			.select2-selection--multiple, 
			.select2-selection--single
				border-left: none !important
				border-top-left-radius: 0 !important
				border-bottom-left-radius: 0 !important