.footer
	padding: 0 0 0
	text-align: center
	&__title
		margin-bottom: 62px
	&__text
		margin-bottom: 29px
		+f(18, 22)
		letter-spacing: -0.02em
	&__subscription
		margin-bottom: 65px
	&__social
		margin-bottom: 73px
	&__logo
		border-top: 1px solid rgba($white, 0.2)