.subscription
	margin: 0 auto
	max-width: 377px
	+md
		max-width: 475px
	&_simple
		.subscription
			&__btn
				position: absolute
				top: 0
				right: 0
				border-top-left-radius: 0
				border-bottom-left-radius: 0
				+sm
					position: relative
					padding-left: 10px
					padding-right: 10px
					float: none
					margin-top: 20px
					border-radius: 4px
					width: 100%
					display: block
	&__label
		padding-left: 9px 
		margin-bottom: 16px
		+f(16, 25)
		+sm
			margin-bottom: 12px
			max-width: 255px


.field
	position: relative

.input input
	padding: 12px 15px 15px 15px
	height: 50px
	width: 100%
	color: $white
	transition: border-color .3s ease-in-out
	border: 1px solid rgba($inputBorder, .5)
	border-radius: 4px
	background-color: transparent 
	font-family: 'Karla', Arial, sans-serif
	+f(16)
	display: block
	.subscription &
		padding-right: 50px
	&:focus
		border-color: $inputBorder 
		&::placeholder
			font-size: 0
	&::placeholder
		color: rgba($white, 0.3) 
		
input[type='number']
	-moz-appearance: textfield

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
	-webkit-appearance: none

.btn-arrow
	position: absolute
	top: 0
	right: 0
	z-index: 1
	width: 47px
	height: 50px
	text-align: center
	vertical-align: top
	transition: background-color .3s ease-in-out
	border-radius: 0 4px 4px 0
	background-color: $shamrock 
	display: inline-block
	+hover
		background-color: lighten($shamrock, 10)
	.icon
		font-size: 18px
		color: $black 