.info-block
	padding: 154px 0 0
	color: $white
	background: $black
	&__header
		margin: 0 auto 68px
		max-width: 970px
		text-align: center
		p 
			opacity: 0.8
			+f(20, 30)
	&__title
		margin-bottom: 21px
	&__logo
		display: inline-block
		vertical-align: top
		margin-bottom: 11px
		width: 48px	
	&__content
		margin: 0 auto
		max-width: 797px
	&__graph
		padding: 23px 0