.info-block
	color: $white
	background: $black
	&__header
		margin: 0 auto
		max-width: 970px
		text-align: center
		p 
			+f(20, 30)
	&__logo
		display: inline-block
		vertical-align: top
		width: 48px	
