.profiles
	padding: 140px 0 115px
	background: #102F61
	+sm
		padding: 61px 0 51px
	&__content
		float: left
		padding: 102px 0 
		width: 35%
		text-align: left
		+lg
			float: none
			padding: 0 0 110px
			margin: 0 auto
			width: 100%
			max-width: 430px
			text-align: center
	&__out
		position: relative
		float: left
		width: 65%
		+lg
			float: none
			margin: 0 auto
			width: 100%
			max-width: 760px
		&:before
			content: ''
			position: absolute
			top: -25px
			right: -17px
			bottom: -76px	
			left: -413px
			background: url(../img/profile-bg.svg) no-repeat right top
			background-size: contain
			pointer-events: none
	&__title
		margin-bottom: 26px
		text-align: left
		+lg
			text-align: center
		+sm
			margin-bottom: 25px 
	&__description
		+f(20, 30)
	&__title-md
		+f(16,19,100,700)
		text-transform: uppercase
		.profiles__row_mod &
			position: absolute
			left: 0
			right: 0
			bottom: 0
			+sm
				position: relative
	&__row
		position: relative
		color: $blue
		text-align: center
		font-size: 0
		&:not(:last-child)
			margin-bottom: 8px
			+md
				margin-bottom: 9px 
			+sm
				margin-bottom: 130px
			.profiles__line
				bottom: -60px
				background-image: url(../img/profiles-individuals-line.svg)
				background-position: bottom center
		&_mod
			color: #7EAC0E 
			.profiles__line
				top: -60px
				background-image: url(../img/profiles-businesses-line.svg)
				background-position: top center
	&__line
		position: absolute
		left: 50%
		display: none
		margin-left: -165px
		width: 330px
		height: 96px
		background-size: contain
		background-repeat: no-repeat
		pointer-events: none
		+sm
			display: block
	&__wrap
		position: relative
		&:not(:first-child)
			margin-top: 39px
			+sm
				margin-top: 26px 
		.profiles__row_mod &
			margin-top: 0
			padding-bottom: 58px
			+sm
				padding-bottom: 0

	&__item
		position: relative
		width: 150px
		height: 168px
		line-height: 168px
		font-size: 18px
		vertical-align: top 
		display: inline-block
		+sm
			width: auto
			height: auto
			line-height: initial 
			display: block
		&:not(:last-child)
			margin-right: 50px
			+md
				margin-right: 34px 
			+sm
				margin: 0 0 13px
	&__svg
		position: absolute
		top: 0
		left: 0
		+sm
			display: none
		svg,
		svg path
			stroke: currentColor
	&__name
		position: relative
		color: $white 
		max-width: 130px
		line-height: 1.5
		vertical-align: middle
		display: inline-block
		+sm
			max-width: 100%
			display: block