.profiles
	padding: 105px 0 175px
	+md
		padding: 105px 0 202px
	+sm
		padding: 61px 0 51px
	&__out
		&:not(:first-child)
			margin-top: 87px
			+md
				margin-top: 49px 
			+sm
				margin-top: 50px 
	&__title
		margin-bottom: 22px
		+md
			margin-bottom: 22px 
		+sm
			margin-bottom: 25px 
	&__title-md
		+f(16,19,100,700)
		text-transform: uppercase
		.profiles__row_mod &
			position: absolute
			left: 0
			right: 0
			bottom: 0
			+sm
				position: relative
	&__row
		position: relative
		color: $blue
		text-align: center
		font-size: 0
		&:not(:last-child)
			margin-bottom: 6px
			+md
				margin-bottom: 9px 
			+sm
				// margin-bottom: 49px 
				margin-bottom: 130px
			.profiles__line
				bottom: -60px
				background-image: url(../img/profiles-individuals-line.svg)
				background-position: bottom center
				// &:before,
				// &:after
				// 	top: 0
				// 	border-color: $blue
				// &:before
				// 	transform: rotate(45deg)
				// 	transform-origin: top right
				// &:after
				// 	transform-origin: top left
		&_mod
			color: $green 
			.profiles__line
				top: -60px
				background-image: url(../img/profiles-businesses-line.svg)
				background-position: top center
				// &:before,
				// &:after
				// 	bottom: 0
				// 	border-color: $green
	&__line
		position: absolute
		left: 50%
		display: none
		margin-left: -165px
		width: 330px
		height: 96px
		background-size: contain
		background-repeat: no-repeat
		pointer-events: none
		+sm
			display: block
		&:before,
		&:after
			content: ''
			position: absolute
			width: 700px
			border-top: 2px solid $black
		&:before
			right: 100%
		&:after
			left: 100%
	&__wrap
		position: relative
		&:not(:first-child)
			margin-top: 36px
			+sm
				margin-top: 26px 
		.profiles__row_mod &
			margin-top: 0
			padding-bottom: 62px
			+md
				padding-bottom: 58px 
			+sm
				padding-bottom: 0

	&__item
		position: relative
		width: 150px
		height: 168px
		line-height: 168px
		font-size: 18px
		vertical-align: top 
		display: inline-block
		+sm
			width: auto
			height: auto
			line-height: initial 
			display: block
		&:not(:last-child)
			margin-right: 50px
			+md
				margin-right: 34px 
			+sm
				margin: 0 0 13px
	&__svg
		position: absolute
		top: 0
		left: 0
		+sm
			display: none
		svg,
		svg path
			stroke: currentColor
	&__name
		position: relative
		color: $white 
		max-width: 130px
		line-height: 1.5
		vertical-align: middle
		display: inline-block
		+sm
			max-width: 100%
			display: block