.sm-social
	font-size: 0
	&__label,
	&__list,
	&__item,
	&__link
		display: inline-block
		vertical-align: middle
	&__label
		padding-right: 40px
		color: #F3F3F8
		+f(14, 17, null, 400)
		+sm 
			padding-right: 30px
	&__item
		&:not(:last-child)
			margin-right: 40px
			+sm
				margin-right: 30px
	&__link
		color: $white
		+hover
			.icon
				opacity: 1
		.icon
			color: $white
			font-size: 36px
			transition: opacity 0.175s ease-in-out
			+sm
				font-size: 28px
			&-twitter
				font-size: 30px
				+sm 
					font-size: 24px