.sm-info
	position: relative
	padding: 9px 0 8px 30px
	border-left: 4px solid #3EBDFF
	+lg
		padding: 0 0 8px 30px 
	+sm
		padding: 0 0 15px 9px
		margin: 0 0 0 2px
		font-size: 14px
	&__text
		max-width: 184px
		vertical-align: top
		display: inline-block
		+lg
			margin-bottom: 22px
			max-width: 314px
			display: block
		+sm
			padding-left: 94px
			margin: 0
			max-width: 80% 
			min-height: 62px
			line-height: 1.3 
		+xxs
			max-width: 100%
		a
			color: #60C9FF 
	&__wrap
		margin: 5px 0 0 37px
		vertical-align: top
		display: inline-block
		+lg
			margin: 0
		+sm
			display: block
	&__logo,
	&__indicators,
	&__col
		vertical-align: top
		display: inline-block
	&__logo
		+sm
			position: absolute
			top: 9px
			left: 15px
			width: 72px 
		img
			max-width: 100%
			display: block
	&__indicators
		padding-top: 4px 
		+lg
			padding-top: 0
		+sm
			width: 100%
			+clr
		&:not(:first-child)
			margin-left: 36px
			+lg
				margin-left: 27px 
			+sm
				margin: 11px 0 0
	&__col
		max-width: 200px
		+lg
			max-width: 143px
		+sm
			float: left
			width: 95px
			font-size: 14px
		&:not(:last-child)
			margin-right: 19px
			+sm
				margin: 0
				float: right
				max-width: 100%
				width: calc(100% - 95px) 
	&__title
		+f(26, 30, null, 700)
		+sm
			font-size: 16px