.sm-info
	position: relative
	padding: 6px 0 5px 27px
	border-left: 4px solid $scooter
	&.topic__sm-info
		float: right
	&__text
		a
			color: #60C9FF 
	&__wrap
		margin-top: 19px
	&__logo,
	&__indicators,
	&__col
		vertical-align: top
		display: inline-block
	&__logo
		img
			display: block
	&__indicators
		padding-top: 4px 
		&:not(:first-child)
			margin-left: 36px
	&__col
		max-width: 200px
		&:not(:last-child)
			margin-right: 19px
	&__title
		+f(26, 30, null, 700)