.team
	padding: 150px 0 80px
	color: $black
	background: $lightGrayBG
	text-align: center
	+sm 
		padding: 100px 0 80px
	&__title
		margin-bottom: 50px
	&__svg
		position: relative
		overflow: hidden
		svg
			position: absolute
			top: 0
			left: 0
	&__members
		margin: 0 auto
		max-width: 1200px
		+clr
	&__member
		float: left
		width: 33.33%
		+md 
			float: none
			margin: 0 auto 30px
			width: 100%
			max-width: 400px