.team
	padding: 125px 0 80px
	color: $black
	background: $lightGrayBG
	text-align: center
	+lg
		padding: 60px 0
	+sm
		padding: 50px 0 20px
	&__title
		margin-bottom: 32px
		+lg
			margin-bottom: 40px
		+sm
			margin-bottom: 33px
	&__svg
		position: relative
		overflow: hidden
		svg
			position: absolute
			top: 0
			left: 0
			width: 248px
			height: 248px
	&__members
		margin: 0 auto
		max-width: 1200px
		+clr
		+md
			margin: 0 -25px
	&__info
		margin-top: 95px 
		+md
			margin-top: 68px 
		+sm
			margin-top: 45px 
	&__member
		float: left
		width: 33.33%
		+sm
			float: none
			margin: 0 auto 
			width: 100%
			max-width: 290px
	&__row
		margin: 0 auto
		max-width: 1087px
		+clr
		+lg
			max-width: 487px
		+md
			max-width: 480px
	&__col
		// float: left
		width: 50%
		// padding: 0 0 0 55px
		margin: 0 auto
		&:first-child
			// padding: 0 60px 0 0
			+md
				padding: 0
		// &:not(:first-child)
		// 	+md
		// 		margin-top: 32px
		// 	+sm
		// 		margin-top: 28px 
		+lg
			width: 100%
			padding: 25px 0
		+md
			padding: 15px 0 
	&__subtitle
		margin-bottom: 30px
		+f(18, 22, null, 700)
		+lg 
			margin-bottom: 23px
		+md
			margin-bottom: 38px 
		+sm
			margin-bottom: 26px