.tooltipster-follower
	.tooltipster-box
		background-color: rgba(#0c1c3a, .9)
		border: none
		box-shadow: 0 2px 10px 0 rgba(#0c1c3a,0.20)
		border-radius: 10px
		.tooltipster-content
			padding: 15px 20px 18px
			+f(13, 19)
			p
				margin-bottom: 5px
			ul
				list-style-type: disc
				list-style-position: inside
.tooltip_templates
	display: none
	
.tooltipster-sidetip
	.tooltipster-box
		background-color: rgba(#0c1c3a, .9)
		border: none
		box-shadow: 0 2px 10px 0 rgba(#0c1c3a,0.20)
		border-radius: 10px
	.tooltipster-content
		padding: 15px 20px 18px
		+f(13, 19)
		p
			margin-bottom: 5px
		ul
			list-style-type: disc
			list-style-position: inside
	.tooltipster-arrow
		display: none