.topic
	position: relative
	padding: 220px 0 210px
	text-align: center
	+md
		padding: 220px 0 110px
	+sm
		padding: 88px 0 45px
	&__logo
		img
			max-width: 100%
		+sm
			margin: 0 auto
			width: 50px
	&__title
		margin-top: 25px
		+f(32, 37, null, 700)
		letter-spacing: 0.08em 
		+sm
			margin-top: 29px 
			+f(26, 20)
	&__sub-title
		margin-top: 12px
		+sm
			margin-top: 25px 
			font-size: 12px
	&__text
		margin-top: 40px
		font-size: 18px
		+sm
			margin-top: 32px
			font-size: 16px
	&__subscription
		margin-top: 25px
		+sm
			margin-top: 17px
	&__info
		margin-top: 65px
		+sm
			margin-top: 32px
			max-width: 205px	
	&__creators
		margin-top: 31px
		+md
			margin-top: 37px
		+sm
			margin-top: 41px 

.info
	position: relative
	padding-left: 22px
	vertical-align: top 
	letter-spacing: 0.17em
	font-size: 12px
	color: rgba($white, .5) 
	text-transform: uppercase
	display: inline-block
	+sm
		padding: 0
	&__icon
		position: absolute
		top: -1px
		left: 0
		+sm
			position: relative
			top: 0
			text-align: center
		.icon
			font-size: 20px
.creators
	&__text
		margin-top: 10px
		+f(12, 24)
		letter-spacing: 0.17em 
		text-transform: uppercase
		+md
			margin-top: 0
			display: block
	&__text,
	&__list
		vertical-align: top
		display: inline-block
		&:not(:first-child)
			margin-left: 40px
			+md
				margin-left: 0
	&__list
		+md
			margin-top: 10px
			display: block
	&__item
		vertical-align: middle
		font-size: 0
		display: inline-block
		&:not(:first-child)
			margin-left: 22px
			+sm
				margin-left: 7px 
		&_text
			font-size: 14px

.clouds
	position: absolute
	top: 0
	left: 0
	right: 0
	width: 100%
	height: 1470px
	-webkit-perspective: 1000
	-moz-perspective: 1000
	-o-perspective: 1000
	perspective: 1000
	&__word
		position: absolute
		top: 0
		left: 50%
		margin-left: -850px
		width: 1700px
		height: 1470px
		-webkit-transform-style: preserve-3d
		-moz-transform-style: preserve-3d
		-o-transform-style: preserve-3d
		transform-style: preserve-3d
	[class^="cloudBase-"]
		position: absolute
		margin-left: -10px
		margin-top: -10px
		width: 20px
		height: 20px
		-webkit-transform-style: preserve-3d
		-moz-transform-style: preserve-3d
		-o-transform-style: preserve-3d
		transform-style: preserve-3d
	.cloudBase-1
		top: 150px
		left: 30%
	.cloudBase-2
		top: 200px
		left: 40%
	.cloudBase-3
		top: 250px
		left: 50%
	.cloudBase-4
		top: 200px
		left: 60%
	.cloudBase-5
		top: 150px
		left: 70%
		
	.cloudBase-6
		top: 830px
		left: 20%
	.cloudBase-7
		top: 830px
		left: 30%
	.cloudBase-8
		top: 830px
		left: 60%
	.cloudBase-9
		top: 830px
		left: 70%
		
	.cloudLayer
		position: absolute
		left: 50%
		top: 50%
		width: 256px
		height: 256px
		margin-left: -128px
		margin-top: -128px
		-webkit-transition: opacity .5s ease-out
		-moz-transition: opacity .5s ease-out
		-o-transition: opacity .5s ease-out