.icon-doc {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-linkedin-full {
  width: 1em;
  height: 1em;
  fill: #BEBEBE;
}
.icon-telegram-full {
  width: 1em;
  height: 1em;
  fill: #BEBEBE;
}
.icon-twitter-full {
  width: 1em;
  height: 1em;
  fill: #BEBEBE;
}
