.icon-arrow-down {
  width: 1.62em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 0.65em;
  height: 1em;
  fill: currentColor;
}
.icon-check {
  width: 1.38em;
  height: 1em;
  fill: currentColor;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-doc {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-down {
  width: 1.86em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-info-logo {
  width: 0.6em;
  height: 1em;
  fill: currentColor;
}
.icon-linkedin-full {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-medium {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-slack {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-telegram-full {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-telegram {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-tg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-twitter-full {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-twitter {
  width: 1.2em;
  height: 1em;
  fill: currentColor;
}
